<!DOCTYPE html>
<html class="h-100"
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="head">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}" /><!---->
  <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"><!---->
  <link th:href="@{/fontawesome/css/all.min.css}" rel="stylesheet"><!---->
  <script th:src="@{/jquery/jquery.min.js}" type="text/javascript"></script>
  <script th:src="@{/js/common.js}" type="text/javascript"></script>
  <script th:src="@{/js/proveedor.js}" type="text/javascript"></script>
  <script th:src="@{/dataTables/datatables.min.js}" type="text/javascript"></script>
  <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
  <script th:src="@{/js/convertirPdf.js}" th:inline="javascript"></script>          
  <link th:href="@{/dataTables/datatables.min.css}" rel="stylesheet"><!---->
  
  <!-- Agregar los scripts de Bootstrap 5 -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  
</head>
<body class="d-flex flex-column h-100">
  <div class="d-grid gap-2 d-md-block">
    <button class="btn btn-sm btn-primary float-start" id="download-button" onclick="generatePDF()">
      <i class="bi bi-arrow-bar-down"></i> Descargar PDF
    </button>
  </div>
  <div id="impresion" style="padding: 0px 20px">
    <div layout:fragment="content">
      <style>
        .clearfix:after {
          content: "";
          display: table;
          clear: both;
        }
        
        a {
          color: #5D6975;
          text-decoration: underline;
        }
        
        body {
          position: relative;
          width: 21cm;  
          height: 29.7cm; 
          margin: 0 auto; 
          color: #001028;
          background: #FFFFFF; 
          font-family: Arial, sans-serif; 
          font-size: 12px; 
          font-family: Arial;
        }
        
        header {
          padding: 10px 0;
          margin-bottom: 30px;
        }
        
        
        h1 {
          border-top: 1px solid  #5D6975;
          border-bottom: 1px solid  #5D6975;
          color: #5D6975;
          font-size: 2.4em;
          line-height: 1.4em;
          font-weight: normal;
          text-align: center;
          margin: 0 0 20px 0;
          background: url("http://localhost:8080/img/fondo_report_venta.jpg" );
        }
        
        
        
        footer {
          color: #5D6975;
          width: 100%;
          height: 30px;
          position: absolute;
          bottom: 0;
          border-top: 1px solid #C1CED9;
          padding: 8px 0;
          text-align: center;
        }
      </style>
      
      <!DOCTYPE html>
      <html lang="en">
      <head>
        <meta charset="utf-8">
        <title>Gomería Vera - Reporte de venta</title>    
      </head>
      <body>
        
        <header class="clearfix">        
          <h1 class="text-center mb-6" style="font-family:Trebuchet MS" ><b style= "color:#FFFFFF">Reporte de caja</b></h1>
          <div class="container">
            <div class="row">
              <div class="col-7">
                <img th:src="@{/img/logo_comprobante.png}" style="float: left; width: 180px; height: 80px;">
                
              </div>
              <div class="col-4">
                <div>
                  <div><strong>Gomería Vera</strong></div>
                  <div><strong>Villa Elisa</strong><br /> <strong>Ingavi y Von Poleski</strong></div>
                  <div><strong>(021) 576-185</strong></div>
                  <div><a href="mailto:gomeriaVera@gmail.com"><strong>gomeriaVera@gmail.com</strong></a></div>
                </div>
              </div>
            </div>
          </div>
          <hr>  

          <!--titulo-->
          <div class="container"> 
            <div class="row">
              <div class="col" th:unless="${tRCaja == '' }">                    
                <h3 style="font-family: Trebuchet MS; font-weight: bold; color: #2E86C1; text-align: center;" th:text="${tRCaja}"></h3>
              </div> 
              <div class="col" th:unless='${tRUsuario=="" }'>                    
                <h3 style="font-family: Trebuchet MS; font-weight: bold; color: #2E86C1; text-align: center;" th:text="${tRUsuario}"></h3>
              </div>                                  
              <div class="col" th:unless='${tRCajaUser=="" }'>                    
                <h3 style="font-family: Trebuchet MS; font-weight: bold; color: #2E86C1; text-align: center;" th:text="${tRCajaUser}"></h3>
              </div> 
              <div class="col" th:unless='${tRFecha=="" }'>                    
                <h3 style="font-family: Trebuchet MS; font-weight: bold; color: #2E86C1; text-align: center;" th:text="${tRFecha}"></h3>           
              </div>
              <div class="col" th:unless='${tRFechaCaja=="" }'>                    
                <h3 style="font-family: Trebuchet MS; font-weight: bold; color: #2E86C1; text-align: center;" th:text="${tRFechaCaja}"></h3>           
              </div>
              <div class="col" th:unless='${tRFechaUser=="" }'>                    
                <h3 style="font-family: Trebuchet MS; font-weight: bold; color: #2E86C1; text-align: center;" th:text="${tRFechaUser}"></h3>           
              </div>
              <div class="col" th:unless='${tRepAll=="" }'>                    
                <h3 style="font-family: Trebuchet MS; font-weight: bold; color: #2E86C1; text-align: center;" th:text="${tRepAll}"></h3>           
              </div>      
            </div>
          </div>
          

          <!--descripción--> 
          <div class="container"> 
            <div class="row">
              <div class="col" th:unless="${dRCaja == '' }">                    
                <p style="font-weight: bold; text-align: center;" th:text="${dRCaja}"></p>
              </div> 
              <div class="col" th:unless='${dRUsuario=="" }'>                    
                <p style="font-weight: bold; text-align: center;" th:text="${dRUsuario}"></p>
              </div>                                  
              <div class="col" th:unless='${dRCajaUser=="" }'>                    
                <p style="font-weight: bold; text-align: center;" th:text="${dRCajaUser}"></p>
              </div> 
              <div class="col" th:unless='${dRFecha=="" }'>                    
                <p style="font-weight: bold; text-align: center;" th:text="${dRFecha}"></p>            
              </div>
              <div class="col" th:unless='${dRFechaCaja=="" }'>                    
                <p style="font-weight: bold; text-align: center;" th:text="${dRFechaCaja}"></p>            
              </div>
              <div class="col" th:unless='${dRFechaUser=="" }'>                    
                <p style="font-weight: bold; text-align: center;" th:text="${dRFechaUser}"></p>            
              </div>
              <div class="col" th:unless='${dRAll=="" }'>                    
                <p style="font-weight: bold; text-align: center;" th:text="${dRAll}"></p>            
              </div>      
            </div>
          </div>

          <!--parámetros-->
          <div class="container"> 
            <div class="row">
              <div class="col" th:unless="${pCaja == '' }">                    
                <p style="font-weight: bold; text-align: center;" th:text="${pCaja}"></p>
              </div> 
              <div class="col" th:unless='${pUsuario=="" }'>                    
                <p style="font-weight: bold; text-align: center;" th:text="${pUsuario}"></p>
              </div>                              
              
              <div class="col" th:unless='${fI=="" }'>                    
                <p style="font-weight: bold; text-align: center;" th:text="${fI}"></p>            
              </div>
              <!--div class="col" th:unless="${pDesHas == '' }">                    
                <p style="font-weight: bold; text-align: center;" th:text="${pDesHas}"></p>            
              </!div-->
              <div class="col" th:unless='${pFechaEmision=="" }'>                    
                <p style="font-weight: bold; text-align: center;" th:text="${pFechaEmision}"></p>            
              </div>      
            </div>
          </div>

          <!---->
          
          <hr>      
          <!-- <span th:text="${datos}"></span> -->
        </table>
        <!--tabla de productos seleccionados para la venta-->
        <table class="table">
          <thead style="background-color: #0a4275;">
            <tr class="text-center"><!---->
              <th>Factura</th><!---->
              <th>Cliente</th><!---->
              <th>Fecha</th><!---->
              <th>Vendedor</th><!---->
              <th>Total</th><!---->
              <th>Impuesto</th><!---->                
            </tr><!---->
          </thead><!---->
          <tbody id="datos"><!---->
            <tr class="text-center" th:each="datos: ${datos}">
              <td th:text="${datos.nroFactura}"></td>
              <td th:text="${datos.cliente}"></td>
              <td th:text="${datos.fechaVenta}"></td>   
              <td th:text="${datos.usuario}"></td>
              <td th:text="${datos.montoTotal}"></td>   
              <td th:text="${datos.impuesto}"></td>   
            </tr>
          </tbody>
        </table>
        <hr>
        <!--subtotales-->
        <table class="table table-bordered border-primary">
          <tr>
            <th><strong>SUBTOTALES</strong></th>            
          </tr>
          <tr>
            <th>
              <div class="row">
                <div class="col-6">                    
                  <label for="inputNombre" class="form-label">TOTAL ITEMS:<span th:text="${totalItems}"></span></label>
                  <span id="cantidadItemsComprobante" th:text="${cantidadDetalle}"></span>
                </div>  
                <div class="col-6">                    
                  <label for="inputNombre" class="form-label">TOTAL A PAGAR:<span th:text="${totalMonto}"></span></label>
                  <!--span id="totalPagarComprobante" th:text="${datosVenta.montoTotal}+' Gs'"></!span-->
                </div>                                                              
              </div>
              <!---->
              <div class="row">
                <div class="col-6">                    
                  <label for="inputNombre" class="form-label">TOTAL I.V.A.:<span th:text="${totalIva}"></span></label>
                </div> 
                <div class="col-6">                    
                  <label for="inputNombre" class="form-label">NETO A PAGAR:<span th:text="${totalMonto}"></span></label>
                  <!--span id="netoPagarComprobante" th:text="${datosVenta.montoTotal}+' Gs'"></!span-->
                </div>                                  
              </div>                              
            </th>
          </tr>    
          
        </table>
        <div>
          <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js" ></script> -->
          <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
          <script th:src="@{/js/chartJs.js}" th:inline="javascript"></script>          
        </div>
        
      </div>  
    </body>
    
    </html>