<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/basic}">
<script src="scriptFecha.js"></script>
<body>
    <div layout:fragment="content">
        <style>
            /* Estilos personalizados para el datepicker */
            .datepicker {
                color: #21618C; /* Color de los nros*/
            }
            .datepicker-switch {
                background-color:#2E86C1;
            }
            .prev {
                background-color:#2E86C1;
            }
            .next{
                background-color:#2E86C1;
            }
            .dow{
                background-color:#C5CAE9;
            }
        </style>
        <div id="scripts">
            <script>
                function abrirComprobante(evento){
                    let url = "http://localhost:8080/caja/cajaReporte/"
                    evento.preventDefault();
                    console.log("Llego a la función");
                    console.log(evento.target.idCajero.value,"Cajero id")
                    console.log(evento.target.InputCliente.value,"Cliente id")
                    console.log(evento.target.fechaDesde.value,"Fecha rango desde")
                    console.log(evento.target.fechaHasta.value,"Fecha rango hasta")
                    
                    //rango de todes
                    if(evento.target.idCajero.value !="" && evento.target.InputCliente.value !="" && evento.target.fechaDesde.value && evento.target.fechaHasta.value !=""){
                        url+=  "rangoAll/" + evento.target.fechaDesde.value.replaceAll("/","-") +"/"+ evento.target.fechaHasta.value.replaceAll("/","-") + "/"+evento.target.InputCliente.value +"/"+ evento.target.idCajero.value
                    
                    // rango de usuario y cliente    
                    } else if (evento.target.idCajero.value !="" && evento.target.InputCliente.value !=""){
                        url+= "usuarioCliente/"+ evento.target.idCajero.value +"/"+ evento.target.InputCliente.value
                    
                        
                    // por rango de user y fecha    
                    } else if (evento.target.idCajero.value !="" && evento.target.fechaDesde.value && evento.target.fechaHasta.value !="" ){
                        url+= "rangoUsuario/"+ evento.target.fechaDesde.value.replaceAll("/","-") +"/"+ evento.target.fechaHasta.value.replaceAll("/","-") + "/" + evento.target.idCajero.value
                    
                    // por rango de cliente y fecha
                    } else if (evento.target.InputCliente.value !="" && evento.target.fechaDesde.value && evento.target.fechaHasta.value !="" ){
                        url+= "rangoCliente/"+ evento.target.fechaDesde.value.replaceAll("/","-") + "/" + evento.target.fechaHasta.value.replaceAll("/","-") + "/" + evento.target.InputCliente.value
                    
                    // por cajero (user)
                    } else if(evento.target.idCajero.value !=""){
                        url+= "u/" + evento.target.idCajero.value
                    
                    // por clientes
                    } else if (evento.target.InputCliente.value !=""){
                        url+= "c/" +  evento.target.InputCliente.value
                    
                    //rango de fechas  
                    } else if (evento.target.fechaDesde.value && evento.target.fechaHasta.value !=""){ 
                        url+= "rangoFecha/"+ evento.target.fechaDesde.value.replaceAll("/","-") + "/" + evento.target.fechaHasta.value.replaceAll("/","-") 
                    }
                    
                    document.getElementById("datoReporte").src=url;
                    const myModalAlternative = new bootstrap.Modal('#modalReporte',{})
                    myModalAlternative.show(document.getElementById('modalReporte'));
                    return false
                }
                
                function abrirReportesEspecificos(reporte){
                    let url = "http://localhost:8080/venta"
                    if(reporte == "productoCant"){
                        url += "/ventaReportEsp/productoCant";
                    }else if(reporte == "productoMont"){
                        url += "/ventaReportEsp/productoMont";
                    }else if(reporte == "historial"){
                        url += "/ventaReportEsp/historial";
                    }
                    
                    document.getElementById("datoReporte").src=url;
                    const myModalAlternative = new bootstrap.Modal('#modalReporte',{})
                    myModalAlternative.show(document.getElementById('modalReporte'));
                    return false

                }
                function abrirGraficos(reporte){
                    let url = "http://localhost:8080/venta"
                    if(reporte == "rankingVend"){
                        url += "/graficoDona/cajeros";
                    }else if(reporte == "rankingProd"){
                        url += "/graficoDona/productos";
                    }else if(reporte == "rankingCli"){
                        url += "/graficoDona/clientes";
                    }else if(reporte == "rankingServ"){
                        url += "/graficoDona/servicios";
                    }
                    document.getElementById("datoReporte").src=url;
                    const myModalAlternative = new bootstrap.Modal('#modalReporte',{})
                    myModalAlternative.show(document.getElementById('modalReporte'));
                    return false

                }
                function abrirReportServicio(){
                    let url = "http://localhost:8080/venta/ventaReportServicio"
                    // evento.preventDefault();
                    document.getElementById("datoReporte").src=url;
                    const myModalAlternative = new bootstrap.Modal('#modalReporte',{})
                    myModalAlternative.show(document.getElementById('modalReporte'));
                    return false

                }

                function abrirHistorialVenta(){
                    let url = "http://localhost:8080/venta/ventaHistorial"
                    // evento.preventDefault();
                    document.getElementById("datoReporte").src=url;
                    const myModalAlternative = new bootstrap.Modal('#modalReporte',{})
                    myModalAlternative.show(document.getElementById('modalReporte'));
                    return false

                }
            
            
            </script>
        </div>
        
        <div style="display: flex; align-items: right;">
            <img th:src="@{/img/report.png}" class="wp-image" width="40" height="40" style="float: left; margin-right: 5px;">
            <h1 class="text" style="font-family:Trebuchet MS"><b style= "color:#21618C">REPORTE DE CAJAS</b></h1> 
        </div>
        <hr>
        <!--titulo-->
        <form method="post" onsubmit="return abrirComprobante(event)">
            <fieldset>
                
                <br> <!--separador-->
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-sm-6" > 
                            <div class ="card">                           
                                <div class="card-body">                                    
                                    <div class="row mb-4">                            
                                        <div class="col">
                                            <div class="form-outline">
                                                <label for="inputRuc" class="form-label">Caja</label>                                           
                                                <input type="number" style="display:none"  id="idCaja" name="idCaja" />
                                                <div class="input-group mb-3">
                                                    <input type="text" name="dscCaja" class="form-control" placeholder="Seleccionar caja..." aria-label="Recipient's username" aria-describedby="button-addon2" id="buscadorCaja" onkeyup="funcionFiltrarCaja(this.value)" onblur="mostrarBuscadorCaja(false)" onfocus="funcionFiltrarCaja(this.value)" autocomplete="off" disabled/>
                                                    <button type="button" class="btn btn-danger" onclick="document.getElementById('buscadorCaja').value=''" onmousedown="document.getElementById('InputCaja').value=''">
                                                        <i class="bi bi-trash3-fill"></i>
                                                    </button>
                                                    <div class="input-group-text">
                                                        <input type="checkbox" id="checkboxCaja" onclick="habilitarInput('buscadorCaja', 'checkboxCaja')">
                                                    </div> 
                                                    
                                                </div>
                                                <ul class="list-group" style="position:absolute;z-index:20"  >                      
                                                    <button type="button" class="list-group-item opcionesCaja" onmousedown="seleccionarCaja(this)"></button>
                                                    <button type="button" class="list-group-item opcionesCaja" onmousedown="seleccionarCaja(this)"></button>
                                                    <button type="button" class="list-group-item opcionesCaja" onmousedown="seleccionarCaja(this)"></button>
                                                    <button type="button" class="list-group-item opcionesCaja" onmousedown="seleccionarCaja(this)"></button>
                                                    <button type="button" class="list-group-item opcionesCaja" onmousedown="seleccionarCaja(this)"></button>
                                                    <button type="button" class="list-group-item opcionesCaja" onmousedown="seleccionarCaja(this)"></button>
                                                    <button type="button" class="list-group-item opcionesCaja" onmousedown="seleccionarCaja(this)"></button>
                                                    <button type="button" class="list-group-item opcionesCaja" onmousedown="seleccionarCaja(this)"></button>
                                                </ul>
                                            </div>
                                        </div>
                                        
                                        
                                    </div>
                                    <!--Filtrar reporte por Vendedor-->
                                    <!--Buscador de Vendedor-->
                                    <div class="form-outline">
                                                <label for="inputRuc" class="form-label">Vendedor</label>                                           
                                                <input type="number" style="display:none"  id="idCajero" name="idCajero" />
                                                <div class="input-group mb-3">
                                                    <input type="text" name="dscCaja" class="form-control" placeholder="Seleccionar cajero..." aria-label="Recipient's username" aria-describedby="button-addon2" id="buscadorCajero" onkeyup="funcionFiltrarCajero(this.value)" onblur="mostrarBuscadorCajero(false)" onfocus="funcionFiltrarCajero(this.value)" autocomplete="off" disabled/>
                                                    <button type="button" class="btn btn-danger" onclick="document.getElementById('buscadorCajero').value=''" onmousedown="document.getElementById('InputCajero').value=''">
                                                        <i class="bi bi-trash3-fill"></i>
                                                    </button>
                                                    <div class="input-group-text">
                                                        <input type="checkbox" id="checkboxCajero" onclick="habilitarInput('buscadorCajero', 'checkboxCajero')">
                                                    </div> 
                                                    
                                                </div>
                                                <ul class="list-group" style="position:absolute;z-index:20"  >                      
                                                    <button type="button" class="list-group-item opcionesCajero" onmousedown="seleccionarCajero(this)"></button>
                                                    <button type="button" class="list-group-item opcionesCajero" onmousedown="seleccionarCajero(this)"></button>
                                                    <button type="button" class="list-group-item opcionesCajero" onmousedown="seleccionarCajero(this)"></button>
                                                    <button type="button" class="list-group-item opcionesCajero" onmousedown="seleccionarCajero(this)"></button>
                                                    <button type="button" class="list-group-item opcionesCajero" onmousedown="seleccionarCajero(this)"></button>
                                                    <button type="button" class="list-group-item opcionesCajero" onmousedown="seleccionarCajero(this)"></button>
                                                    <button type="button" class="list-group-item opcionesCajero" onmousedown="seleccionarCajero(this)"></button>
                                                    <button type="button" class="list-group-item opcionesCajero" onmousedown="seleccionarCajero(this)"></button>
                                                </ul>
                                            </div>

                                    
                                    
                                    <!--fecha seleccionable en rango-->
                                    <div class="row mb-4">                            
                                        <div class="col">
                                            <div class="form-outline">
                                                <label name="fecha" class="form-label">Fecha</label>
                                                <div class="input-group">
                                                    <input id="fechaDesde" class="form-control datepicker" disabled/>
                                                    <div class="input-group-text">a</div>
                                                    <input id="fechaHasta" class="form-control datepicker" disabled/>
                                                    <div class="input-group-text">
                                                        <input type="checkbox" id="checkboxFecha" onclick="habilitarInput('fechaDesde', 'checkboxFecha'); habilitarInput('fechaHasta', 'checkboxFecha')">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row mb-4 justify-content-end">
                                        <div class="col-sm-4">
                                            <a href="javascript:void(0);" class="btn btn-secondary w-100" onclick="confirmarRegreso()">
                                                Atrás
                                            </a>
                                        </div>
                                        <div class="col-sm-4">
                                            <button type="submit" class="btn btn-outline-info w-100" >
                                                <i class="bi bi-printer" id="download-button" > Generar informe</i>
                                            </button>  
                                        </div>
                                    </div>
                                    
                                    
                                </div>
                                
                            </div>    
                            
                        </div> 
                        <div class="col-sm-3">
                            <div class="card">
                                <div class="card-body">
                                    <!--reportes específicos-->
                                    <p style="color: #21618C; text-align: center;"><strong>Reportes específicos</strong></p>
                                    <hr>                                     
                                    <div class="row mb-4 justify-content-center">                    
                                        <div class="col-sm-12 mb-2">
                                            <button type="button" class="btn btn-outline-info btn-sm w-100" onclick="abrirReportesEspecificos('productoMont')">
                                                <i class="bi bi-basket2-fill" id="download-button" > Productos más vendidos por monto de ventas</i>
                                            </button>  
                                        </div>
                                        
                                        <div class="col-sm-12 mb-2">
                                            <button type="button" class="btn btn-outline-info btn-sm w-100" onclick="abrirReportesEspecificos('productoCant')">
                                                <i class="bi bi-basket2-fill" id="download-button" > Productos más vendidos por cantidad de ventas</i>
                                            </button>  
                                        </div>
                                        <div class="col-sm-12 mb-2">
                                            <button type="button" class="btn btn-outline-info btn-sm w-100" onclick="abrirReportServicio()">
                                                <i class="bi bi-shop-window" id="download-button" > Servicios más frecuentes</i>
                                            </button>  
                                        </div>
                                        <div class="col-sm-12 mb-2">
                                            <button type="button" class="btn btn-outline-info btn-sm w-100" onclick="abrirReportesEspecificos('historial')">
                                                <i class="bi bi-file-earmark-break-fill" id="download-button" > Historial de ventas</i>
                                            </button>  
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-3">
                            <div class="card">
                                <div class="card-body">                                    
                                    <!--gráficos específicos-->
                                    <p style="color: #21618C; text-align: center;"><strong>Gráficos estadísticos</strong></p>
                                    <hr>                                     
                                    <div class="row mb-4 justify-content-center">
                                        <div class="col-sm-12 mb-2">
                                            <button type="button" class="btn btn-outline-info btn-sm w-100" onclick="abrirGraficos('rankingVend')">
                                                <i class="bi bi-pie-chart-fill" id="download-button" > Ranking de vendedores</i>
                                            </button>  
                                        </div> 
                                        <div class="col-sm-12 mb-2">
                                            <button type="button" class="btn btn-outline-info btn-sm w-100" onclick="abrirGraficos('rankingProd')">
                                                <i class="bi bi-pie-chart-fill" id="download-button" > Productos más vendidos</i>
                                            </button>  
                                        </div> 
                                        <div class="col-sm-12 mb-2">
                                            <button type="button" class="btn btn-outline-info btn-sm w-100" onclick="abrirGraficos('rankingServ')">
                                                <i class="bi bi-pie-chart-fill" id="download-button" > Servicios más frecuentes</i>
                                            </button>  
                                        </div> 
                                        <div class="col-sm-12 mb-2">
                                            <button type="button" class="btn btn-outline-info btn-sm w-100" onclick="abrirGraficos('rankingCli')">
                                                <i class="bi bi-pie-chart-fill" id="download-button" > Clientes con más transacciones</i>
                                            </button>  
                                        </div> 
                                    </div>    
                                </div>
                            </div>
                        </div>
                        
                        
                        
                    </div>    <!---->
                </div>
            </fieldset>
        </form>
        <!-- MODAL PARA IMPRIMIR EL REPORTE -->
        <!-- Modal: modalReporte | Ver reporte -->
        <div class="modal fade" id="modalReporte" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
                <div class="modal-content">                                   
                    <!--Header-->                    
                    <div class="modal-header"> 
                        <h5 class="modal-title">Reporte venta</h5> <!-- Por que si-->
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">x</button>
                    </div>
                    <!-- Body para modal-->
                    <div class="modal-body">
                        <!-- Tabs navs para modal-->
                        <iframe th:src="@{/venta/ventaReporte}" width="100%" height="400" id="datoReporte"></iframe>
                        <!-- Pie del modal -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="window.location.reload()">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- MODAL PARA IMPRIMIR EL GRÁFICO -->
        <!-- Modal: modalChart | Ver gráfico -->
        <div class="modal fade" id="modalChart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
                <div class="modal-content">                                   
                    <!--Header-->                    
                    <div class="modal-header"> 
                        <h5 class="modal-title">Gráfico estadístico</h5> <!-- Por que si-->
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">x</button>
                    </div>
                    <!-- Body para modal-->
                    <div class="modal-body">
                        <!-- Tabs navs para modal-->
                        <iframe th:src="@{/venta/graficoDona}" width="100%" height="400"></iframe>
                        <!-- Pie del modal -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="window.location.reload()">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <script type="text/javascript" th:inline="javascript">
                let datos = /*[[${listarCliente}]]*/ null;
                let datosUsuario = /*[[${listarUsuario}]]*/ null;
            </script>
            
            <script th:src="@{/js/buscadorCliente.js}" type="text/javascript"></script>
            <script th:src="@{/js/buscadorCajero.js}" type="text/javascript"></script>
            
            <script th:src="@{/js/habillitarInput.js}" type="text/javascript"></script>                
            <script th:src="@{/js/rangoMeses.js}" type="text/javascript"></script>
            <script th:src="@{/js/confirmarRegreso.js}" type="text/javascript"></script>             
        </div>            
    </div>      
    
</body>
</html>