<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/basic}">
<script src="scriptFecha.js"></script>
<body>
    <div layout:fragment="content">
        <style>
            /* Estilos personalizados para el datepicker */
            .datepicker {
                color: #21618C; /* Color de los nros*/
            }
            .datepicker-switch {
                background-color:#2E86C1;
            }
            .prev {
                background-color:#2E86C1;
            }
            .next{
                background-color:#2E86C1;
            }
            .dow{
                background-color:#C5CAE9;
            }
        </style>
        <div id="scripts">
            <script>
                function abrirComprobante(evento){
                    let url = "http://localhost:8080/stock/stockReporte/"
                    evento.preventDefault();
                    console.log("Llego a la función");
                    console.log(evento.target.InputTipoProducto.value,"Tipo de producto")
                    console.log(evento.target.InputProveedor.value,"Proveedor id")                
                                   
                    // rango de Tipo de producto y proveedor -> 
                   if (evento.target.InputTipoProducto.value !="" && evento.target.InputProveedor.value !=""){
                        url+= "tProdProv/"+ evento.target.InputTipoProducto.value +"/"+ evento.target.InputProveedor.value                    
                    // por Tipo de producto
                    } else if(evento.target.InputTipoProducto.value !=""){
                        url+= "tP/" + evento.target.InputTipoProducto.value
                    
                    // por proveedor
                    } else if (evento.target.InputProveedor.value !=""){
                        url+= "p/" +  evento.target.InputProveedor.value
                    }
                    
                    document.getElementById("datoReporte").src=url;
                    const myModalAlternative = new bootstrap.Modal('#modalReporte',{})
                    myModalAlternative.show(document.getElementById('modalReporte'));
                    return false
                }
                function abrirReportesEspecificos(reporte){
                    let url = "http://localhost:8080/stock/"
                    if(reporte == "listado"){
                        url += "stockRepEsp/listado";
                    }else if(reporte == "cantMinima"){
                        url += "stockRepEsp/cantMinima";
                    }
                    
                    document.getElementById("datoReporte").src=url;
                    const myModalAlternative = new bootstrap.Modal('#modalReporte',{})
                    myModalAlternative.show(document.getElementById('modalReporte'));
                    return false

                }
                //stockRepEsp/listado
            </script>
        </div>
        
        
        <div style="display: flex; align-items: right;">
            <img th:src="@{/img/report.png}" class="wp-image" width="40" height="40" style="float: left; margin-right: 5px;">
            <h1 class="text" style="font-family:Trebuchet MS"><b style= "color:#21618C">REPORTE DE STOCK</b></h1> 
        </div>
        <hr>
        <!--titulo-->
        <form method="post" onsubmit="return abrirComprobante(event)">
            <fieldset>
                
                <br> <!--separador-->
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-sm-6" > 
                            <div class ="card">                           
                                <div class="card-body">
                                    
                                
                                    <!--Filtrar reporte por tipo de producto-->
                                    <!--Buscador de tipo de productos-->
                                    <div class="form-group">
                                        <label name="tipoProducto" class="form-label">Proveedor</label>   
                                        <input type="hidden"  id="InputProveedor" name="proveedor" />
                                        
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" placeholder="Seleccionar proveedor..." aria-label="Recipient's username" aria-describedby="button-addon2" id="buscadorProveedor" onkeyup="funcionFiltrar(this.value)" onblur="mostrarBuscador(false)" onfocus="funcionFiltrar(this.value)" autocomplete="off" disabled />
                                            <!--a th:href="@{/clientes/nuevo}" >
                                                <button class="btn btn-primary" type="button" id="button-addon2" ><i class=""></i> Nuevo</button>
                                                </!a-->
                                                <button type="button" class="btn btn-danger" onclick="document.getElementById('buscadorProveedor').value=''" onmousedown="document.getElementById('InputProveedor').value=''">
                                                    <i class="bi bi-trash3-fill"></i>
                                                </button>
                                                <div class="input-group-text">
                                                    <input type="checkbox" id="checkboxCliente" onclick="habilitarInput('buscadorProveedor', 'checkboxCliente')">
                                                </div>                   
                                                
                                            </div>
                                            <ul class="list-group" style="position:absolute;z-index:20"  >                      
                                                <button type="button" class="list-group-item opcionesProveedor" onmousedown="seleccionar(this)"></button>
                                                <button type="button" class="list-group-item opcionesProveedor" onmousedown="seleccionar(this)"></button>
                                                <button type="button" class="list-group-item opcionesProveedor" onmousedown="seleccionar(this)"></button>
                                                <button type="button" class="list-group-item opcionesProveedor" onmousedown="seleccionar(this)"></button>
                                                <button type="button" class="list-group-item opcionesProveedor" onmousedown="seleccionar(this)"></button>
                                                <button type="button" class="list-group-item opcionesProveedor" onmousedown="seleccionar(this)"></button>
                                                <button type="button" class="list-group-item opcionesProveedor" onmousedown="seleccionar(this)"></button>
                                                <button type="button" class="list-group-item opcionesProveedor" onmousedown="seleccionar(this)"></button>
                                            </ul>
                                            
                                        </div>
                                    <!--Filtrar reporte por tipo de producto-->
                                    <!--Buscador de tipo de producto-->
                                    <div class="form-group">
                                        <label name="tipoProducto" class="form-label">Tipo de producto</label>   
                                        <input type="hidden"  id="InputTipoProducto" name="tipoProducto" />
                                        
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" placeholder="Seleccionar tipo de producto..." aria-label="Recipient's username" aria-describedby="button-addon2" id="buscadorTipoProducto" onkeyup="funcionFiltrarTipoProducto(this.value)" onblur="mostrarBuscadorTipoProducto(false)" onfocus="funcionFiltrarTipoProducto(this.value)" autocomplete="off"  disabled />
                                            <!--a th:href="@{/clientes/nuevo}" >
                                                <button class="btn btn-primary" type="button" id="button-addon2" ><i class=""></i> Nuevo</button>
                                                </!a-->
                                                <button type="button" class="btn btn-danger" onclick="document.getElementById('buscadorTipoProducto').value=''" onmousedown="document.getElementById('InputTipoProducto').value=''" >
                                                    <i class="bi bi-trash3-fill"></i>
                                                </button>
                                                <div class="input-group-text">
                                                    <input type="checkbox" id="checkboxTipoProducto" onclick="habilitarInput('buscadorTipoProducto', 'checkboxTipoProducto')">
                                                </div>                   
                                                
                                            </div>
                                            <ul class="list-group" style="position:absolute;z-index:20"  >                      
                                                <button type="button" class="list-group-item opcionesTipoProducto" onmousedown="seleccionarTipoProducto(this)"></button>
                                                <button type="button" class="list-group-item opcionesTipoProducto" onmousedown="seleccionarTipoProducto(this)"></button>
                                                <button type="button" class="list-group-item opcionesTipoProducto" onmousedown="seleccionarTipoProducto(this)"></button>
                                                <button type="button" class="list-group-item opcionesTipoProducto" onmousedown="seleccionarTipoProducto(this)"></button>
                                                <button type="button" class="list-group-item opcionesTipoProducto" onmousedown="seleccionarTipoProducto(this)"></button>
                                                <button type="button" class="list-group-item opcionesTipoProducto" onmousedown="seleccionarTipoProducto(this)"></button>
                                                <button type="button" class="list-group-item opcionesTipoProducto" onmousedown="seleccionarTipoProducto(this)"></button>
                                                <button type="button" class="list-group-item opcionesTipoProducto" onmousedown="seleccionarTipoProducto(this)"></button>
                                            </ul>
                                            
                                        </div>
            
                                        
                                        <!---->
                                        <div class="row mb-4 justify-content-end">
                                            <div class="col-sm-4">
                                                <a href="javascript:void(0);" class="btn btn-secondary w-100" onclick="confirmarRegreso()">
                                                    Atrás
                                                </a>
                                            </div>
                                            <div class="col-sm-4">
                                                <button type="submit" class="btn btn-outline-info w-100" >
                                                    <i class="bi bi-printer" id="download-button" > Generar informe</i>
                                                </button>  
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>    
                                
                            </div>
                            <div class="col-sm-3">
                                <div class="card">
                                    <div class="card-body">
                                        <!--reportes específicos-->
                                        <p style="color: #21618C; text-align: center;"><strong>Reportes específicos</strong></p>
                                        <hr>                                     
                                        <div class="row mb-4 justify-content-center">

                                            <div class="col-sm-12 mb-2">
                                                <button type="button" class="btn btn-outline-info btn-sm w-100" onclick="abrirReportesEspecificos('cantMinima')">
                                                    <i class="bi bi-basket2-fill" id="download-button"> Productos productos con cantidad mínima</i>
                                                </button>  
                                            </div>
                                            <div class="col-sm-12 mb-2">
                                                <button type="button" class="btn btn-outline-info btn-sm w-100" onclick="abrirReportesEspecificos('listado')">
                                                    <i class="bi bi-shop-window" id="download-button" > Listado de stock</i>
                                                </button>  
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>   
                        </div>    <!---->
                    </div>
                </fieldset>
            </form>
            <!-- MODAL PARA IMPRIMIR EL REPORTE -->
        <!-- Modal: modalReporte | Ver reporte -->
        <div class="modal fade" id="modalReporte" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
                <div class="modal-content">                                   
                    <!--Header-->                    
                    <div class="modal-header"> 
                        <h5 class="modal-title">Reporte stock</h5> <!-- Por que si -->
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">x</button>
                    </div>
                    <!-- Body para modal-->
                    <div class="modal-body">
                        <!-- Tabs navs para modal-->
                        <iframe th:src="@{/stock/stockReporte}" width="100%" height="400" id="datoReporte"></iframe>
                        <!-- Pie del modal -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="window.location.reload()">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- MODAL PARA IMPRIMIR EL GRÁFICO -->
        <!-- Modal: modalChart | Ver gráfico -->
        <div class="modal fade" id="modalChart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
                <div class="modal-content">                                   
                    <!--Header-->                    
                    <div class="modal-header"> 
                        <h5 class="modal-title">Gráfico estadístico</h5> <!-- Por que si-->
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">x</button>
                    </div>
                    <!-- Body para modal-->
                    <div class="modal-body">
                        <!-- Tabs navs para modal-->
                        <iframe th:src="@{/venta/graficoDona}" width="100%" height="400"></iframe>
                        <!-- Pie del modal -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="window.location.reload()">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div>
                <script type="text/javascript" th:inline="javascript">
                    let datos = /*[[${listarProveedor}]]*/ null;
                    let datosProducto = /*[[${listarTipoProducto}]]*/ null;
                </script>
                
                <script th:src="@{/js/buscadorProveedor.js}" type="text/javascript"></script>
                <script th:src="@{/js/buscadorTipoProducto.js}" type="text/javascript"></script>
                
                
                <script th:src="@{/js/habillitarInput.js}" type="text/javascript"></script>             
                <script th:src="@{/js/confirmarRegreso.js}" type="text/javascript"></script>             
            </div>            
        </div>      
        
    </body>
    </html>