<!DOCTYPE html>
<html class="h-100"
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="head">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}" /><!---->
  <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"><!---->
  <link th:href="@{/fontawesome/css/all.min.css}" rel="stylesheet"><!---->
  <script th:src="@{/jquery/jquery.min.js}" type="text/javascript"></script>
  <script th:src="@{/js/common.js}" type="text/javascript"></script>
  <script th:src="@{/js/proveedor.js}" type="text/javascript"></script>
  <script th:src="@{/dataTables/datatables.min.js}" type="text/javascript"></script>
  <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>
  <link th:href="@{/dataTables/datatables.min.css}" rel="stylesheet"><!---->
  
  
 
  
  <!-- Agregar los scripts de Bootstrap 5 -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  
</head>
<body class="d-flex flex-column h-100">
  <div class="d-grid gap-2 d-md-block">
    <button class="btn btn-sm btn-primary float-start" id="download-button" onclick="generatePDF()">
      <i class="bi bi-arrow-bar-down"></i> Descargar PDF
    </button>
  </div>
  <div id="impresion" style="padding: 0px 20px">
    <style>
      .clearfix:after {
        content: "";
        display: table;
        clear: both;
      }
      
      a {
        color: #5D6975;
        text-decoration: underline;
      }
      
      body {
        position: relative;
        width: 21cm;  
        height: 29.7cm; 
        margin: 0 auto; 
        color: #001028;
        background: #FFFFFF; 
        font-family: Arial, sans-serif; 
        font-size: 12px; 
        font-family: Arial;
      }
      
      header {
        padding: 10px 0;
        margin-bottom: 30px;
      }
      
      
      h1 {
        border-top: 1px solid  #5D6975;
        border-bottom: 1px solid  #5D6975;
        color: #5D6975;
        font-size: 2.4em;
        line-height: 1.4em;
        font-weight: normal;
        text-align: center;
        margin: 0 0 20px 0;
        background: url("http://localhost:8080/img/fondo_report_venta.jpg" );
      }
      
      
      
      footer {
        color: #5D6975;
        width: 100%;
        height: 30px;
        position: absolute;
        bottom: 0;
        border-top: 1px solid #C1CED9;
        padding: 8px 0;
        text-align: center;
      }
    </style>
    <!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="utf-8">
      <title>Gomería Vera - Reporte de venta</title>    
    </head>
    <body>
      
      <header class="clearfix">        
        <h1 class="text-center mb-6" style="font-family:Trebuchet MS" ><b style= "color:#FFFFFF">Reporte estadístico de venta</b></h1>
          <div class="container">
            <div class="row">
              <div class="col-7">
                <img th:src="@{/img/logo_comprobante.png}" style="float: left; width: 180px; height: 80px;">
                
              </div>
              <div class="col-4">
                <div>
                  <div><strong>Gomería Vera</strong></div>
                  <div><strong>Villa Elisa</strong><br /> <strong>Ingavi y Von Poleski</strong></div>
                  <div><strong>(021) 576-185</strong></div>
                  <div><a href="mailto:gomeriaVera@gmail.com"><strong>gomeriaVera@gmail.com</strong></a></div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          
          <!--titulo-->
          <div class="container"> 
            <div class="row">
              <div class="col" th:unless="${tGCajero == '' }">                    
                <h3 style="font-family: Trebuchet MS; font-weight: bold; color: #2E86C1; text-align: center;" th:text="${tGCajero}"></h3>
              </div> 
              <div class="col" th:unless='${tGCliente=="" }'>                    
                <h3 style="font-family: Trebuchet MS; font-weight: bold; color: #2E86C1; text-align: center;" th:text="${tGCliente}"></h3>
              </div>                         
              <div class="col" th:unless='${tGProducto=="" }'>                    
                <h3 style="font-family: Trebuchet MS; font-weight: bold; color: #2E86C1; text-align: center;" th:text="${tGProducto}"></h3>
              </div> 
              <div class="col" th:unless='${tGServicio=="" }'>                    
                <h3 style="font-family: Trebuchet MS; font-weight: bold; color: #2E86C1; text-align: center;" th:text="${tGServicio}"></h3>
              </div> 

              <div class="col" th:unless='${tGAll=="" }'>                    
                <h3 style="font-family: Trebuchet MS; font-weight: bold; color: #2E86C1; text-align: center;" th:text="${tGAll}"></h3>
              </div> 

            </div>
          </div>


          <!--descripción--> 
          <div class="container"> 
            <div class="row">
              <div class="col" th:unless="${dGCajero == '' }">                    
                <p style="font-weight: bold; text-align: center;" th:text="${dGCajero}"></p>
              </div> 
              <div class="col" th:unless='${dGCliente=="" }'>                    
                <p style="font-weight: bold; text-align: center;" th:text="${dGCliente}"></p>
              </div> 
              <div class="col" th:unless='${dGProducto=="" }'>                    
                <p style="font-weight: bold; text-align: center;" th:text="${dGProducto}"></p>
              </div>
              <div class="col" th:unless='${dGServicio=="" }'>                    
                <p style="font-weight: bold; text-align: center;" th:text="${dGServicio}"></p>
              </div>
              <div class="col" th:unless='${dGAll=="" }'>                    
                <p style="font-weight: bold; text-align: center;" th:text="${dGAll}"></p>
              </div>                                    
              
            </div>
          </div>

          <!--parámetros-->
          <div class="container"> 
            <div class="row">
              <div class="col" th:unless='${pGCajero=="" }'>                    
                <p style="font-weight: bold;  text-align: center;" th:text="${pGCajero}"></p>            
              </div>                
              <div class="col" th:unless='${pFechaEmision=="" }'>                    
                <p style="font-weight: bold; text-align: center;" th:text="${pFechaEmision}"></p>            
              </div>      
            </div>
          </div>

          <hr>

        <div class="container">
          <div style="height:650px;display:flex;justify-content: center;">
            <canvas id="goodCanvas1" width="50" height="50" aria-label="Hello ARIA World" role="img"></canvas>
  
          </div>

        </div>
        <div>

          <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
          <script th:src="@{/js/convertirPdf.js}" th:inline="javascript"></script>      
          <!-- <script th:src="@{/js/chartJs.js}" th:inline="javascript"></script>-->
          <script type="text/javascript" th:inline="javascript">
            const LISTA_DATOS = /*[[${datos}]]*/ null;
            const listaTitulos =[]
            const listaDatos = []
            for (let elemento of LISTA_DATOS) {
                const {mes,cantidad} = elemento
                listaTitulos.push(`${mes}:${cantidad}`)
                listaDatos.push(cantidad)
            }
            console.table(listaTitulos)
            console.table(listaDatos)
            const DATA_COUNT = 5;
            const NUMBER_CFG = {count: DATA_COUNT, min: 0, max: 100};
            
            const data = {
              // labels: ['Red', 'Orange', 'Yellow', 'Green', 'Blue'],
              labels: listaTitulos,
              datasets: [
                {
                  label: 'Meses',
                  data: listaDatos,
                  backgroundColor: ['#ff6384', '#7986CB', '#B2DFDB','#ff9f40', '#ffcd56', '#4bc0c0', '#36a2eb', '#A569BD', '#E8DAEF', '#F1948A', '#F48FB1', '#B2EBF2', '#827717', '#880E4F', '#5E35B1', '#8D6E63', '#2471A3', '#29B6F6'], 
                }
              ]
            };
            const config = {
              type: 'doughnut',
              data: data,
              options: {
                responsive: true,
                plugins: {
                  legend: {
                    position: 'top',
                  },
                  // title: {
                  //   display: true,
                  //   text: 'Chart.js Doughnut Chart'
                  // }
                }
              },
            };
            const ctx = document.getElementById('goodCanvas1').getContext('2d');
            new Chart(ctx, config);
          </script>
        </div>
        
        <hr>
        <!--título del resumen del gráfico--> 
        <div class="container"> 
          <div class="row">
            <div class="col">          
              <h3 style="font-family: Trebuchet MS; font-weight: bold; color: #2E86C1; text-align: center;" >RESUMEN DEL REPORTE</h3>
            </div> 
          </div>
        </div>

        <!--tabla de resumen-->
        <!--parámetros-->
        <div class="container"> 
          <div class="row">
            <!-- <div class="col" th:unless='${resumen=="" }'>                    
              <p style="font-weight: bold;  text-align: center;" th:text="${resumen}"></p>            
            </div>-->
            <div class="col">                    
              <table class="table table-bordered border-primary">
                <tr th:if="${resumen=='Vendedor'}">
                  <th class="text-center"><strong>DESCRIPCIÓN</strong></th>
                  <th class="text-center"><strong>CANTIDAD</strong></th>                  
                </tr>
                <tr th:if="${resumen=='Producto'}">
                  <th class="text-center"><strong>DESCRIPCIÓN</strong></th>
                  <th class="text-center"><strong>MONTO</strong></th>                  
                </tr>
                <tr th:if="${resumen=='Servicio'}">
                  <th class="text-center"><strong>DESCRIPCIÓN</strong></th>
                  <th class="text-center"><strong>MONTO</strong></th>                  
                </tr>
                <tr th:if="${resumen=='Cliente'}">
                  <th class="text-center"><strong>DESCRIPCIÓN</strong></th>
                  <th class="text-center"><strong>MONTO</strong></th>                  
                </tr>
                <tbody id="datos"><!---->
                  <tr class="text-center" th:each="datos: ${datos}">
                    <td th:text="${datos.mes}"></td>
                    <!-- <td th:text="${datos.cantidad}"></td> -->
                    <td th:text="${#numbers.formatDecimal(datos.cantidad, 0, 'POINT', 2, 'COMMA')}"></td>
                    
                  </tr>
                </tbody>
              </table>          
            </div>
            
          </div>
        </div>

        
      </div>  
    </body>
    
    </html>