<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/basic}">
<body>
    <div layout:fragment="content">
        <!--logo personita-->
        <div>
            <img th:src="@{/img/productosCrud.png}" class="center wp-image-4532"/> <!--div center img-->
        </div>
        <br> 
        <h1 class="text-center mb-6" style="font-family: Garamond, serif;" ><b style= "color:#21618C">CRUD de tipo de Producto</b></h1> <!--titulo-->
        <form method="post" th:action="@{/realizarVenta/registrarCliente}" th:object="${cliente}">
            <fieldset>
                <br> <!--separador-->
                <div class="container">
                    <!--Nombre de Producto-->
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <label for="idTipoDocumento" class="form-label">Nombre de Producto</label>
                                <input type="text" class="form-control" id="idTipoDocumento" name="user" placeholder="Introduzca nombre del producto" autofocus>
                            </div>
                        </div>
                        <!-- Fecha en el que se ingresó el producto-->
                        <div class="col">
                            <div class="form-outline">
                                <label for="fecha" class="form-label">Fecha de Ingreso:</label>
                                <input type="date" id="fecha" name="fecha" class="form-control">
                              </div>
                            </div>
                        </div>
                    </div>
                    <!--Cantidad de producto-->
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <label for="idTipoDocumento" class="form-label">Cantidad</label>
                                <input type="text" class="form-control" id="idTipoDocumento" name="user" placeholder="Introduzca cantidad del producto" autofocus>
                            </div>
                        </div>
                        
                        <!--Precio del producto-->
                        <div class="col">
                            <div class="form-outline">
                                <label for="inputUsuario" class="form-label">Precio</label>
                                <input type="text" class="form-control" id="inputUsuario" name="user" placeholder="Introduzca precio" autofocus>
                            </div>
                        </div>
                    </div>
                                        
                    <div class="row">
                      <div class="col-sm-2">
                        <a href="javascript:history.back()" class="btn btn-outline-info w-100">
                            Atrás
                        </a>
                    </div>
                        <div class="col-sm-8"></div>
                        <div class="col-sm-2">
                          <a th:href="@{/crudProducto}" class="btn btn-success w-100">
                              Guardar Producto
                          </a>
                      </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    
    
</form>


</div>

</body>
</html>