<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/basic}">
<body>
<div layout:fragment="content">
  <h1 class="text-center mb-6" style="font-family:Trebuchet MS" ><b style= "color:#21618C">CRUD Clientes</b></h1> <!--titulo-->

  <!--th:block th:include="fragment/success-message.html"></th:block-->

  <th:block th:if="${permisoCrear eq true}"><!--permisos user-->
    <a th:href="@{/clientes/nuevo}" class="btn btn-success mb-4">
      <i class="fa-solid fa-hammer"></i> Agregar nuevo cliente
    </a>
  </th:block> <!--modificar front-->

  <div th:if="${permisoVer eq false}">
    <td class="text-center fw-bold" colspan="10">No posee los permisos suficientes</td>
  </div><!---->
  <div th:if="${permisoVer eq true}" class="table-responsive table-scroll">
    <table class="table table-striped mb-0" ><!---->
      <thead style="background-color: #0a4275;"><!---->
      <tr class="text-center"><!---->
        <th>Nombres</th><!---->
        <th>Apellidos</th><!---->
        <th>Tipo de Documento</th><!---->
        <th>Nro. Documento</th><!---->
        <th>Correo</th><!---->
        <th>Teléfono</th><!---->
        <th>Acción</th><!---->
      </tr><!---->
      </thead><!---->
      <tbody><!---->
      <tr th:if="${#lists.isEmpty(listCliente)}"><!---->
        <td class="text-center fw-bold" colspan="10">No se encontraron resultados</td><!---->
      </tr><!---->
      <tr class="text-center" th:each="cliente: ${listCliente}">
        <td th:text="${cliente.name}">Nombre</td>
        <td th:text="${cliente.lastName}">Razón Social</td>
        <td th:text="${cliente.documentType}">Doc</td><!---->
        <td th:text="${cliente.email}">Mail</td><!---->
        <td th:text="${cliente.telephone}">Teléfono</td><!---->

        <td><!---->
          <div class="btn-group"><!---->
            <a th:if="${permisoActualizar eq true}" th:href="@{/clientes/{id}(id=${cliente.idCliente})}" 
               class="btn btn-sm btn-outline-primary"><!---->
              <i class="fa-solid fa-pen-to-square"></i><!---->
            </a>
            <a th:if="${permisoEliminar eq true}" th:href="@{/clientes/{id}/delete(id=${cliente.idCliente})}">
              <button type="button" id="btnEliminar" class="btn btn-sm btn-outline-danger">
                <i class="fa-sharp fa-solid fa-trash"></i>
              </button>
            </a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  <br>  
  </div>
    <a href="javascript:history.back()" class="btn btn-outline-primary">
      <i class="fa fa-backward" aria-hidden="true"></i> Atrás 
    </a>
  </th:block> <!--modificar front-->
</div>

</body>
</html>