<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{/layout/basic}">
<body>
  <div layout:fragment="content">
    <h1 class="text-center mb-6" style="font-family:Trebuchet MS" ><b style= "color:#21618C">Editar Proveedor</b></h1> <!--titulo-->
    
    <form method="POST" th:action="@{/proveedores/{id}(id=${proveedor.idProveedor})}" th:object="${proveedor}">
      <!--th:block th:include="fragment/error-message.html"></th:block-->
      
      <fieldset>
        <legend>Información del Proveedor</legend>
        <div class="mb-3"> <!-- margen button -->
          <label class="form-label">Nombre del Proveedor: [[${proveedor.nombre}]]</label>
          <input type="hidden" name="nombre" th:value="${proveedor.nombre}" />
          <input type="hidden" name="tipoDocumento" th:value="${proveedor.tipoDocumento}" />
          <input type="hidden" name="ruc" th:value="${proveedor.ruc}" />
          <input type="hidden" name="razonSocial" th:value="${proveedor.razonSocial}" />
          <input type="hidden" name="tipoPersona" th:value="${proveedor.tipoPersona}" />
        </div>
        <div class="mb-3"> <!-- margen button -->
          <label for="inputTelefono" class="form-label">Teléfono</label>
          <input type="text" class="form-control" id="inputTelefono" name="telefono" th:value="${proveedor.telefono}">
        </div>
        <div class="mb-3"> <!-- margen button -->
          <label for="inputNombreContacto" class="form-label">Nombre del Contacto</label>
          <input type="text" class="form-control" id="inputNombreContacto" name="contacto" th:value="${proveedor.contacto}">
        </div>
        <div class="mb-3"> <!-- margen button -->
          <label for="inputDireccion" class="form-label">Dirección</label>
          <input type="text" id="inputDireccion" name="direccion" class="form-control" placeholder="Introduzca nueva dirección" th:value="${proveedor.direccion}">
        </div>
        <div class="mb-3"> <!-- margen button -->
          <label for="inputPrecio" class="form-label">Estado de Proveedor</label>
          <!--TEMPORAL PARA TUTORÍA-->
          <select class="form-select" aria-label="Default select example" name="esActual" required>
            <option selected>Seleccione nuevo estado</option>
            <option value="1">Activo</option>
            <option value="2">Inactivo</option>
          </select>
        </div>
      </fieldset>
      
      <div class="row">
        <div class="col-sm-6">
          <a th:href="@{/proveedores}" class="btn btn-outline-secondary w-100">
            Atrás
          </a>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-warning w-100">Modificar Proveedor</button>
        </div>
      </div>
    </form>
  </div>
  
</body>
</html>