<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/basic}">
<body>
    <div layout:fragment="content">
        <!--logo personita-->
        <div>
            <img th:src="@{/img/cheams.png}" class="center wp-image-4532"/> <!--div center img-->
        </div>
        <br> 
        <h1 class="text-center mb-6" style="font-family:Trebuchet MS"><b style= "color:#21618C">Proveedor</b></h1> <!--titulo-->
        <form method="post" th:action="@{/proveedores/crear}" th:object="${proveedor}">
            <fieldset>
                <br> <!--separador-->
                <div class="container">
                    <div class="container">
                        <div class="row mb-4">
                            <div class="col">
                                <div class="form-outline">
                                    <label for="inputTipoDocumento" class="form-label">Tipo de Documento<span style="color:red">*</span></label>
                                    <select class="form-select" id="inputTipoDocumento" name="tipoDocumento" autofocus required>
                                        <option value="">Seleccionar Tipo de Documento</option>
                                        <option th:each="tipoDocumento : ${tiposDocumentos}" th:value="${tipoDocumento.nombre}" th:text="${tipoDocumento.nombre}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-outline">
                                    <label for="inputRuc" class="form-label">Documento<span style="color:red">*</span></label>
                                    <input type="text" class="form-control" id="inputRuc" name="ruc" placeholder="Introduzca el documento del proveedor" required>
                                </div>
                            </div>
                        </div>
                        <!--Nombre correspondiente del proveedor-->
                        <div class="row mb-4">
                            <div class="col">
                                <div class="form-outlisne">
                                    <label for="inputNombreProveedor" class="form-label">Nombre del Proveedor<span style="color:red">*</span></label>
                                    <input type="text" class="form-control" id="inputNombreProveedor" name="nombre" placeholder="Introduzca Proveedor" autofocus required>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-outline">
                                    <label for="inputRazonSocial" class="form-label">Razón social</label>
                                    <input type="text" class="form-control" id="inputRazonSocial" name="razonSocial" placeholder="Introduzca razón social" autofocus>
                                </div>
                            </div>
                            <!--Tipo de persona-->
                            <div class="col">
                                <div class="form-outline">
                                    <label for="inputTipoPersona" class="form-label">Tipo de Persona</label>
                                    <!--TEMPORAL PARA TUTORÍA-->
                                    <select class="form-select" aria-label="Default select example" name="tipoPersona">
                                        <option selected>Seleccione tipo de persona</option>
                                        <option value="1">Persona Física</option>
                                        <option value="2">Persona Jurídica</option>
                                    </select>
                                </div>
                            </div>  
                        </div>
                        <!--Contacto del proveedor-->
                        <div class="row mb-4">
                            <div class="col">
                                <div class="form-outline">
                                    <label for="inputContacto" class="form-label">Nombre de Contacto<span style="color:red">*</span></label>
                                    <input type="text" class="form-control" id="inputContacto" name="contacto" placeholder="Introduzca nombre del contacto" autofocus required>
                                </div>
                            </div> 
                            <!--Teléfono del proveedor-->
                            <div class="col">
                                <div class="form-outline">
                                    <label for="inputTelefono" class="form-label">Teléfono<span style="color:red">*</span></label>
                                    <input type="text" class="form-control" id="inputTelefono" name="telefono" placeholder="Introduzca el teléfono del proveedor" autofocus required>
                                </div>
                            </div>
                        </div>
                        <!--Estado  del proveedor-->
                        <div class="row mb-4">
                            <div class="col">
                                <div class="form-outline">
                                    <label for="inputDireccion" class="form-label">Dirección<span style="color:red">*</span></label>
                                    <input type="text" class="form-control" id="inputDireccion" name="direccion" placeholder="Introduzca la dirección del proveedor" autofocus required>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-outline">
                                    <label for="inputEsActual" class="form-label">Estado del proveedor<span style="color:red">*</span></label>
                                    <!--TEMPORAL PARA TUTORÍA-->
                                    <select class="form-select" aria-label="Default select example" name="esActual" required>
                                        <option selected>Seleccione estado</option>
                                        <option value="1">Activo</option>
                                        <option value="2">Inactivo</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>                    
                    <div class="row">
                        <div class="col-sm-2">
                            <a href="javascript:history.back()" class="btn btn-outline-info w-100">
                                Atrás
                            </a>
                        </div>
                        <div class="col-sm-8"></div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-success w-100">Guardar proveedor</button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
        
        
    </div>
    
</body>
</html>