<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/basic}">
<body>
    <div layout:fragment="content">
        <!--logo personita-->
        <div>
            <img th:src="@{/img/cheams.png}" class="center wp-image-4532"/> <!--div center img-->
        </div>
        <br> 
        <h1 class="text-center mb-6" style="font-family:Trebuchet MS"><b style= "color:#21618C">CRUD de Proveedor</b></h1> <!--titulo-->
        <form method="post" th:action="@{/proveedores/crear}" th:object="${proveedor}">
            <fieldset>
                <br> <!--separador-->
                <div class="container">
                    <div class="form-outline">
                        <!--esto es temporal ahora-->
                        <label for="inputNombre" class="form-label">Tipo de Documento</label>
                        <!--TEMPORAL PARA TUTORÍA-->
                        <select class="form-select" aria-label="Default select example" name="nombre">
                            <option selected>Seleccione Tipo de Documento</option>
                            <option value="1">Cédula de Identidad</option>
                            <option value="2">RUC</option>
                            <option value="3">Pasaporte</option>
                        </select>
                    </div>
                    <br>
                    <!--Razón social del proveedor-->
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <label for="inputNombre" class="form-label">Razón social</label>
                                <input type="text" class="form-control" id="inputNombre" name="nombre" placeholder="Introduzca razón social" autofocus>
                            </div>
                        </div>
                        <br>
                        <!--Contacto del proveedor-->
                        <div class="col">
                            <div class="form-outline">
                                <label for="inputNombreFantasia" class="form-label">Nombre fantasia</label>
                                <input type="text" class="form-control" id="inputNombreFantasia" name="nombreFantasia" placeholder="Introduzca nombre fantasia" autofocus>
                            </div>
                        </div>
                    </div>
                    <!--Tipo de persona-->
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <label for="inputNombre" class="form-label">Tipo de Persona</label>
                                <!--TEMPORAL PARA TUTORÍA-->
                                <select class="form-select" aria-label="Default select example" name="nombre">
                                    <option selected>Seleccione Estado</option>
                                    <option value="1">Persona Física</option>
                                    <option value="2">Persona Jurídica</option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <!--Dirección del proveedor-->
                        <div class="col">
                            <div class="form-outline">
                                <label for="inputRuc" class="form-label">Documento</label>
                                <input type="text" class="form-control" id="inputRuc" name="ruc" placeholder="Introduzca la dirección del proveedor" autofocus>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">    
                        <!--Teléfono del proveedor-->
                        <div class="col">
                            <div class="form-outline">
                                <label for="inputContacto" class="form-label">Teléfono</label>
                                <input type="text" class="form-control" id="inputContacto" name="contacto" placeholder="Introduzca el telefono del proveedor" autofocus>
                            </div>
                        </div>
                        <!--Estado  del proveedor-->
                        <div class="col">
                            <div class="form-outline">
                                <label for="inputEsActual" class="form-label">Estado del proveedor</label>
                                <!--TEMPORAL PARA TUTORÍA-->
                                <select class="form-select" aria-label="Default select example" name="esActual">
                                    <option selected>Seleccione estado</option>
                                    <option value="1">Activo</option>
                                    <option value="2">Inactivo</option>
                                </select>
                            </div>
                        </div>
                    </div>                    
                    <div class="row">
                      <div class="col-sm-2">
                        <a href="javascript:history.back()" class="btn btn-outline-info w-100">
                            Atrás
                        </a>
                    </div>
                    <div class="col-sm-8"></div>
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-success w-100">Guardar proveedor</button>
                    </div>
                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    
    
</form>


</div>

</body>
</html>