<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{/layout/basic}">
<body>
  <div layout:fragment="content">
    <div class="d-flex align-items-center justify-content-start">
      <img th:src="@{/img/embalaje.png}" class="left wp-image-4532" style="width: 60px; height: 60px;" /> 
      <h1 class="text-center mb-6" style="font-family: Trebuchet MS; margin: 0 10px;">
        <b style="color: #21618C;">Ficha de Producto</b>
      </h1>
    </div>
    <hr>
    
    <form method="POST" th:action="@{/stocks/{id}(id=${product.idProducto})}" th:object="${producto}">
      <fieldset>
        
        <br> <!--separador-->
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-sm-6" > 
              <div class ="card">                           
                <div class="card-body">
                  <div class="d-flex justify-content-center align-items-center">
                    <lord-icon
                    src="https://cdn.lordicon.com/cllunfud.json"
                    trigger="hover"
                    colors="outline:#121331,primary:#646e78,secondary:#ebe6ef"
                    style="width: 80px; height: 80px"
                    ></lord-icon>
                  </div>
                  <!--Información del usuario-->
                  <h5 style="color: #21618C; text-align: center;"><strong>Información del Producto</strong></h5>
                  <br>
                  <div class="row mb-4">                            
                    <div class="col">
                      <div class="form-outline">
                        <label for="inputNombre2" class="form-label"><strong>Código del Producto: </strong>[[${product.codigo}]]</label>
                        <input type="hidden" name="codigo" th:value="${product.codigo}" />
                      </div>
                    </div>
                  </div>
                  
                  <div class="row mb-4">                            
                    <div class="col">
                      <div class="form-outline">                      
                        <label class="form-label"><strong>Nombre de Producto: </strong>[[${product.nombreProducto}]]</label>
                        <input type="hidden" name="nombreProducto" th:value="${product.nombreProducto}" />
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="row mb-4">                            
                    <div class="col">
                      <div class="form-outline">
                        <label for="inputNombre2" class="form-label"><strong>Cantidad mínima: </strong>[[${product.cantidadMinima}]]</label>
                        <input type="hidden" name="cantidadMinima" th:value="${product.cantidadMinima}" />
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-outline">                      
                        <label class="form-label"><strong>Cantidad Disponible: </strong>[[${product.cantidad}]]</label>
                        <input type="hidden" name="nombreCantidad" th:value="${product.cantidad}" />
                      </div>
                    </div>
                  </div>
                  <div class="row mb-4">                            
                    <div class="col">
                      <div class="form-outline">
                        <label for="inputNombre2" class="form-label"><strong>Precio Compra: </strong>[[${product.precio} + ' Gs.']]</label>
                        <input type="hidden" name="precioCompra" th:value="${product.precio} "/>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-outline">                      
                        <label class="form-label"><strong>Precio Venta: </strong>[[${product.precio} + ' Gs.']]</label>
                        <input type="hidden" name="precioVenta" th:value="${product.precio}" />
                      </div>
                    </div>
                  </div>
                  
                  <hr>
                  
                  
                  
                </div>
                
              </div>    <!-- termina el card-->
              <br>
            </div>
            <!--nuevo card-->
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
                  <div class="d-flex justify-content-center align-items-center">
                    <lord-icon
                    src="https://cdn.lordicon.com/oncyjozz.json"
                    trigger="hover"
                    colors="outline:#121331,primary:#646e78"
                    style="width: 80px; height: 80px"
                    ></lord-icon>
                  </div>
                  
                </lord-icon>
                <!--Información del usuario-->
                <h4 style="color: red; text-align: center;"><strong>ATENCIÓN</strong></h4>
                <p style="color: #21618C; text-align: center;">Puede realizar modificación de la cantidad disponible del stock en caso de que esta sea <strong>TOTALMENTE NECESARIA</strong></p>
                <hr>
                <div class="row mb-4">
                  <div class="col">
                    <div class="input-group mb-3">
                      <label for="inputSelectStock" class="form-label"></label>
                      <div class="input-group">
                        <select class="form-select" aria-label="Default select example" id="inputSelectStock" name="stock" onchange="mostrarContenido1()" disabled>
                          <option style="" value="">Seleccione acción</option>
                          <option style="background-color: #ABEBC6; font-weight: bold;" value="SUMAR">SUMAR</option>
                          <option style="background-color: #D35400; font-weight: bold;" value="RESTAR">RESTAR</option>
                        </select>
                        <div class="input-group-text">
                          <input type="checkbox" id="checkboxStock" onclick="confirmarCambioStock()">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div id="contenido1" class="contenido" style="display: none;">
                  <div class="row mb-4">                            
                    <div class="col">
                      <div class="form-outline">
                        <label for="inputUsuario" class="form-label">Cantidad Producto<span style="color:red">*</span></label>
                        <input type="text" class="form-control" id="inputUsuario" name="nombre" placeholder="Introduzca cantidad a sumar o restar" autofocus required>        
                      </div>      
                    </div>
                  </div>
                  <div class="row mb-4">                            
                    <div class="col">
                      <div class="form-outline">
                        <label for="inputUsuario" class="form-label">Motivo de modificación<span style="color:red">*</span></label>
                        
                        <textarea class="form-control" id="inputUsuario" name="nombre" placeholder="Por Ej.: RESTA = Desperfecto/daño en productos o SUMA = Recuento de productos" autofocus required></textarea>
     
                      </div>      
                    </div>
                  </div>
                </div>
                
                <hr>
                <div class="row d-flex justify-content-center align-items-center">
                  <div class="col-sm-4">
                    <div class="row">
                      <div class="col">
                        <a href="javascript:void(0);" class="btn btn-secondary w-100" onclick="confirmarRegreso()">
                          Atrás
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="row">
                      <div class="col">
                        <button type="submit" class="btn btn-info text-white">
                          <i class="bi bi-save2" id="download-button"> Modificar Cantidad</i>
                        </button>
                      </div>
                    </div>
                  </div>
                  
                </div>
                
              </div>
              
              
            </div><!--termina card-->
          </div>
          
        </fieldset>

        
        
        
      </form>
      <!--scripts necesarios-->
      <div>
        <script th:src="@{/js/habillitarInput.js}" type="text/javascript"></script>
        <script th:src="@{/js/confirmarRegreso.js}" type="text/javascript"></script>
        <script th:src="@{/js/confirmarCambioStock.js}" type="text/javascript"></script>
        
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script th:src="@{/js/habillitarInput.js}" type="text/javascript"></script>
        <script>
          function mostrarContenido1() {
            var selectStock = document.getElementById("inputSelectStock");
            var contenido1 = document.getElementById("contenido1");
            
            if (selectStock.value === "RESTAR" || selectStock.value === "SUMAR") {
              contenido1.style.display = "block";
            } else {
              contenido1.style.display = "none";
            }
          }
        </script>
        
        
      </div>     
    </div>
    
  </body>
  </html>