<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{/layout/basic}">
<body>
  <div layout:fragment="content">
    <h1 class="text-center mb-6" style="font-family:Trebuchet MS"><b style= "color:#21618C">Productos</b></h1> <!--titulo-->
    
    
    <th:block th:if="${permisoCrear eq true}"><!--permisos user-->
    <a th:href="@{/productos/nuevo}" class="btn btn-success mb-4">
      <i class="	fas fa-shopping-cart"></i> Crear nuevo producto
    </a>
  </th:block> <!--modificar front-->
  
  <th:block th:if="${permisoCrear eq true}"><!--permisos user-->
  <a th:href="@{/servicios/nuevo}" class="btn btn-success mb-4">
    <i class="fa-solid fa-hammer"></i> Crear nuevo servicio
  </a>
</th:block> <!--modificar front-->

<div th:if="${permisoVer eq false}">
  <td class="text-center fw-bold" colspan="10">No posee los permisos suficientes</td>
</div><!---->


<!--tab para ver las tablas-->
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#tabProducto" type="button" role="tab" aria-controls="tabProducto" aria-selected="false"><i class="fas fa-cart-arrow-down me-2"></i>Producto</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#tabServicio" type="button" role="tab" aria-controls="tabServicio" aria-selected="false"><i class="fas fas fa-shuttle-van me-2"></i>Servicio</button>
  </li>
</ul>
<br>
<!--TAB contenido de Producto-->
<div class="tab-content" >
<div class="tab-pane fade show active" id="tabProducto" role="tabpanel" aria-labelledby="tabProducto">
  <legend style="color:#21618C">Lista de productos</legend>
  <div th:if="${permisoVer eq true}" class="table-responsive">
    <table id="myTable" class="table table-sm table-bordered table-hover">
      <thead style="background-color: #0a4275;">
        <tr class="text-center">
          <th>Código</th><!---->
          <th>Producto</th><!---->
          <!--th>Precio</th-->
          <!--th>Cantidad</th-->
          <th>Marca</th><!---->
          <th>Tipo</th><!---->
          <th>U. Medida</th><!---->
          <th>Impuesto</th><!---->
          <th>Proveedor</th><!---->
          <th>Acción</th><!---->
        </tr><!---->
      </thead><!---->
      <tbody><!---->
        <tr th:if="${#lists.isEmpty(listProduct)}"><!---->
          <td class="text-center fw-bold" colspan="10">No se encontraron productos</td><!---->
        </tr><!---->
        <tr class="text-center" th:each="producto: ${listProduct}">
          <td th:text="${producto.codigo}">Cod</td>
          <td th:text="${producto.nombreProducto}">Name</td>
          <!--td th:text="${producto.precio}">90.000</td-->
          <!--td th:text="${producto.cantidad}">90</td-->
          <td th:text="${producto.marca.nombre}">90</td><!---->
          <td th:text="${producto.tipoProducto.descripcion}">type</td>
          <td th:text="${producto.unidadMedida.descripcion}">-</td>
          <td th:text="${producto.impuesto}">black</td>
          <td th:text="${producto.proveedor.nombre}">py</td>
          <td><!---->
            <div class="btn-group"><!---->
              <a th:if="${permisoActualizar eq true}" th:href="@{/productos/{id}(id=${producto.idProducto})}" 
              class="btn btn-sm btn-outline-primary"><!---->
              <i class="fa-solid fa-pen-to-square"></i><!---->
              </a>
              <a th:if="${permisoEliminar eq true}" th:href="@{/productos/{id}/delete(id=${producto.idProducto})}">
                <button type="button" id="btnEliminar" class="btn btn-sm btn-outline-danger">
                  <i class="fa-sharp fa-solid fa-trash"></i>
                </button>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  <br>  
  </div> <!--termina la tabla-->
</div> <!--termina el tab-->

<!--TAB contenido de Servicio-->
<div class="tab-pane fade" id="tabServicio" role="tabpanel" aria-labelledby="tabServicio">
  <legend style="color:#21618C">Lista de servicios</legend>
  <div th:if="${permisoVer eq true}" class="table-responsive">
    <table id="myTable2" class="table table-sm table-bordered table-hover">
      <thead style="background-color: #0a4275;">
        <tr class="text-center"><!---->
          <th>Código</th><!---->
          <th>Servicio</th><!---->
          <th>Tipo de Servicio</th><!---->
          <th>Precio</th><!---->
          <th>Impuesto</th><!---->
          <th>Acción</th><!---->
        </tr><!---->
      </thead><!---->
      <tbody><!---->
        <tr th:if="${#lists.isEmpty(listServicios)}"><!---->
          <td class="text-center fw-bold" ></td><!---->
          <td class="text-center fw-bold" >No se encontraron servicios</td><!---->
          <td class="text-center fw-bold" ></td><!---->
        </tr><!---->
        <tr class="text-center" th:each="servicio: ${listServicios}">
          <td th:text="${servicio.codigo}"></td>

          <td th:text="${servicio.nombre}"></td>
          <td th:text="${servicio.tipoProducto.descripcion}"></td>

          <td th:text="${servicio.precio}">Precio</td><!---->
          <td th:text="${servicio.impuesto}"></td>

          <td><!---->
            <div class="btn-group"><!---->
              <a th:if="${permisoActualizar eq true}" th:href="@{/servicios/{id}(id=${servicio.idServicio})}" 
              class="btn btn-sm btn-outline-primary"><!---->
              <i class="fa-solid fa-pen-to-square"></i><!---->
            </a>
            <a th:if="${permisoEliminar eq true}" th:href="@{/servicios/{id}/delete(id=${servicio.idServicio})}">
              <button type="button" id="btnEliminar" class="btn btn-sm btn-outline-danger">
                <i class="fa-sharp fa-solid fa-trash"></i>
              </button>
            </a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
</div>
<br>
<a href="javascript:history.back()" class="btn btn-outline-primary">
  <i class="fa fa-backward" aria-hidden="true"></i> Atrás 
</a>
</th:block> <!--modificar front-->
</div>

</body>
</html>