<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{/layout/basic}">
<body>
  <div layout:fragment="content">
    <div class="d-flex align-items-center justify-content-start">
      <img th:src="@{/img/smartphone.png}" class="left wp-image-4532" style="width: 60px; height: 60px;" /> 
      <h1 class="text-center mb-6" style="font-family: Trebuchet MS; margin: 0 10px;">
        <b style="color: #21618C;">Actualización del pedido</b>
      </h1>
    </div>
    <hr>
    
    <form id="form-pedido-update" method="POST" th:action="@{/gestionarFacturas/{id}(id=${compra.idCompra})}" th:object="${compra}">
      <!--th:block th:include="fragment/error-message.html"></th:block-->
      <fieldset>
        <br> <!--separador-->
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-sm-6" > 
              <div class ="card" style="width: 106%; margin-left: -40px;">                           
                <div class="card-body">
                  <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
                  <div class="d-flex justify-content-center align-items-center">
                    <lord-icon
                    src="https://cdn.lordicon.com/yhtqafjk.json"
                    trigger="hover"
                    colors="primary:#3080e8,secondary:#66d7ee,tertiary:#e4e4e4"
                    style="width:60px;height:60px">
                  </lord-icon>
                </div>
                <!--Configuración adicional-->
                <p style="color: #21618C; text-align: center;"><strong>Información editable</strong></p>
                <hr>       
                
                <div class="row mb-4">
                  <div class="col">
                    <div class="form-outline">
                      <label for="inputSelectEstado" class="form-label">Estados</label>
                      <div class="input-group">
                        <select class="form-select" aria-label="Default select example" id="inputSelectEstado" name="estado" onclick="validarEstadoCompra(this.value)">
                          <option style="" value="">Seleccione Estado</option>
                          <option style="background-color: #F9E79F; font-weight: bold;" value="PENDIENTE">PENDIENTE</option>
                          <option style="background-color: #AED6F1; font-weight: bold;" value="PARCIALMENTE RECEPCIONADO">PARCIALMENTE RECEPCIONADO</option>
                          <option style="background-color: #CD6155; font-weight: bold;" value="ANULADO">ANULADO</option>
                          <option style="background-color: #76D7C4; font-weight: bold;" value="RECEPCIONADO">RECEPCIONADO</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div id="contenido1" class="contenido" style="display: none;">
                  <table class="table table-sm table-bordered table-hover">
                    <thead style="background-color: #0a4275;">
                      <tr class="text-center">
                        <th>#</th>

                        <th>Nro. Documento</th>
                        <th>Tipo de Documento</th>
                        <th>Monto Pagado</th>
                        <th><i class="bi bi-list"></i></th>

                      </tr>
                    </thead>
                    <tbody>
                     
                    </tbody>
                    <hr>
                     <!--para agregar los documentos-->
                     <a class="btn btn-info" id="insertDocRow" href="#" style="color: white;">Agregar Documento</a>

                     <br>
                     <br>
                  </table>
                </div>
                
                <div id="contenido2" class="contenido" style="display: none;">
                  <hr>
                  <div class="row mb-4">                            
                    <div class="col">
                        <div class="form-outline">
                            <label for="inputUsuario" class="form-label">Motivo de anulación<span style="color:red">*</span></label>
                            <input type="text" class="form-control" id="inputUsuario" name="user" placeholder="Describa el motivo de anulación del pedido." autofocus required>        
                            
                        </div>      
                    </div>
                </div>
                </div>
                
                
              </div>
              
            </div>    <!-- termina el card-->
            <br>
            
            
          </div>
          <!--nuevo card-->
          <div class="col-sm-6">
            <div class="card" style="width: 113%; margin-right: -10px;">
              <div class="card-body">
                <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
                <div class="d-flex justify-content-center align-items-center">
                  <lord-icon
                  src="https://cdn.lordicon.com/oncyjozz.json"
                  trigger="hover"
                  colors="outline:#121331,primary:#646e78"
                  style="width:60px;height:60px">
                </lord-icon>
              </div>
              <!--Configuración adicional-->
              <p style="color: #21618C; text-align: center;"><strong>Información del pedido</strong></p>
              <hr>
              <div class="row mb-4">                            
                <div class="col">
                  <div class="form-outline">
                    <label class="form-label"><strong><i class="bi bi-calendar"></i> Fecha del Pedido: </strong>[[${compra.fechaCompra}]]</label> 
                    
                  </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <label class="form-label"><strong><i class="bi bi-person-video3"></i> Realizado por: </strong>[[${compra.fechaCompra}]]</label> 
                    
                  </div>
                </div> 
              </div>
              
              <div class="row mb-4">                            
                <div class="col">
                  <div class="form-outline">
                    <label class="form-label"><strong><i class="bi bi-person"></i> Proveedor: </strong>[[${compra.fechaCompra}]]</label> 
                  </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <label class="form-label"><strong><i class="bi bi-cart4"></i> Cantidad Solicitada: </strong>[[${compra.fechaCompra}]]</label> 
                    
                  </div>
                </div>
              </div>
              
              <div class="row mb-4">                            
                <div class="col">
                  <div class="form-outline">
                    <label class="form-label"><strong><i class="bi bi-piggy-bank"></i> Monto del Pedido: </strong>[[${compra.montoCompra} + ' Gs.']]</label> 
                    
                  </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <label class="form-label"><strong><i class="bi bi-exclamation-octagon"></i> Estado Actual del Pedido: </strong>[[${compra.montoCompra} + ' Gs.']]</label> 
                    
                  </div>
                </div>
              </div>
              
              
              
              <hr>
              <div class="row d-flex justify-content-center align-items-center">
                <div class="col-sm-4">
                  <div class="row">
                    <div class="col">
                      <a href="javascript:void(0);" class="btn btn-secondary w-100" onclick="confirmarRegreso()">
                        Atrás
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="row">
                    <div class="col">
                      <button type="submit" class="btn btn-info text-white">
                        <i class="bi bi-save2" id="download-button"> Guardar Usuario</i>
                      </button>
                      
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
            
          </div><!--termina card-->
        </div>
        
        
      </fieldset>
      <div>
        <script>
          function validarEstadoCompra(valor) {
            var contenido1 = document.getElementById("contenido1");
            var contenido2 = document.getElementById("contenido2");
        
            if (valor === "RECEPCIONADO" || valor === "PARCIALMENTE RECEPCIONADO") {
              contenido1.style.display = "block";
              contenido2.style.display = "none";
            } else if (valor === "ANULADO") {
              contenido1.style.display = "none";
              contenido2.style.display = "block";
            } else {
              contenido1.style.display = "none";
              contenido2.style.display = "none";
            }
          }
        </script>
        <script th:src="@{/js/factura.js}"></script>
        <script th:inline="javascript">
          let doc, tipo, monto;
          let contador = 1;
          /*[# th:each="item : ${compra.facturas}"]*/
          addCellValuesInvoice([[${item.nroDocumento}]], [[${item.tipo}]], [[${item.monto}]], contador);
          contador++;
          /*[/]*/
          counter = contador;
        </script>
      </div>
      
    </div>
    
  </body>
  </html>