<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{/layout/basic}">
<body>
  <div layout:fragment="content">
    <div class="d-flex align-items-center justify-content-start">
      <img th:src="@{/img/smartphone.png}" class="left wp-image-4532" style="width: 60px; height: 60px;" /> 
      <h1 class="text-center mb-6" style="font-family: Trebuchet MS; margin: 0 10px;">
        <b style="color: #21618C;">Actualización del pedido</b>
      </h1>
    </div>
    <hr>
    
    <form id="form-pedido-update" method="POST" th:action="@{/gestionarFacturas/{id}(id=${compra.idCompra})}" th:object="${compra}">
      <!--th:block th:include="fragment/error-message.html"></th:block-->
      <fieldset>
        <br> <!--separador-->
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-sm-6" > 
              <div class ="card" style="width: 106%; margin-left: -40px;">                           
                <div class="card-body">
                  <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
                  <div class="d-flex justify-content-center align-items-center">
                    <lord-icon
                    src="https://cdn.lordicon.com/yhtqafjk.json"
                    trigger="hover"
                    colors="primary:#3080e8,secondary:#66d7ee,tertiary:#e4e4e4"
                    style="width:60px;height:60px">
                  </lord-icon>
                </div>
                <!--Configuración adicional-->
                <p style="color: #21618C; text-align: center;"><strong>Información editable</strong></p>
                <hr>       
                
                <div class="row mb-4">
                  <div class="col">
                    <div class="form-outline">
                      <label for="inputSelectEstado" class="form-label">Estados</label>
                      <div class="input-group">
                        <select class="form-select" aria-label="Default select example" id="inputSelectEstado" name="estado" onclick="validarEstadoCompra(this.value)">
                          <option style="" value="">Seleccione Estado</option>
                          <option style="background-color: #F9E79F; font-weight: bold;" value="PENDIENTE">PENDIENTE</option>
                          <option style="background-color: #AED6F1; font-weight: bold;" value="PARCIALMENTE RECEPCIONADO">PARCIALMENTE RECEPCIONADO</option>
                          <option style="background-color: #CD6155; font-weight: bold;" value="ANULADO">ANULADO</option>
                          <option style="background-color: #76D7C4; font-weight: bold;" value="RECEPCIONADO">RECEPCIONADO</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                
                
                <div id="documentosParciales" class="contenido" style="display: none;">
                  <h5> Remisiones</h5>
                  <hr>
                  <div class="form-outline" id="addRemisiones">
                    <div class="input-group mb-3" > 
                      <span class="input-group-text" id="basic-addon1">Nota de Remisión Nro.:</span>
                      <input type="text" class="form-control" placeholder="Ej: 001-001-0000001" aria-label="remision" id="nroRemision">
                      <button class="btn btn-info" style="color: white;" onclick="agregarDetalleRemisiones(event)">Agregar Documento</button>
                    </div>
                  </div> 
                  <table class="table table-sm table-bordered table-hover">
                    <thead style="background-color: #0a4275;">
                      <tr class="text-center">
                        <th>Nro. Documento</th>
                        <th>Tipo de Documento</th>
                        <th><i class="bi bi-list"></i></th>

                      </tr>
                    </thead>
                    <tbody id="tablaRemisiones">
                     
                    </tbody>
                    
                  </table>
                    <hr>
                    <br>
                </div>
                
                <div id="documentosFinalizado" class="contenido" style="display: none;">
                  <h5> Facturas</h5> 
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Factura Nro.:</span>
                    <input type="text" class="form-control" placeholder="Ej: 001-001-0000001" aria-label="remision" aria-describedby="basic-addon1" id="nroFactura">
                    <button class="btn btn-info" style="color: white;" onclick="agregarDetalleFacturas(event)">Agregar Documento</button> 
                  </div> 
                  <table class="table table-sm table-bordered table-hover">
                    <thead style="background-color: #0a4275;">
                      <tr class="text-center">
                        <th>Nro. Documento</th>
                        <th>Tipo de Documento</th>
                        <th><i class="bi bi-list"></i></th>

                      </tr>
                    </thead>
                    <tbody id="tablaFacturas">
                     
                    </tbody>
                    <hr>
                     <br>
                     <br>
                  </table>
                </div>

                <div id="contenido2" class="contenido" style="display: none;">
                  <hr>
                  <div class="row mb-4">                            
                    <div class="col">
                        <div class="form-outline">
                            <label for="motivoAnulacion" class="form-label">Motivo de anulación<span style="color:red">*</span></label>
                            <input type="text" class="form-control" id="motivoAnulacion" name="user" placeholder="Describa el motivo de anulación del pedido." required>        
                            
                        </div>      
                    </div>
                </div>
                </div>
                
                
              </div>
              
            </div>    <!-- termina el card-->
            <br>
            
            
          </div>
          <!--nuevo card-->
          <div class="col-sm-6">
            <div class="card" style="width: 113%; margin-right: -10px;">
              <div class="card-body">
                <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
                <div class="d-flex justify-content-center align-items-center">
                  <lord-icon
                  src="https://cdn.lordicon.com/oncyjozz.json"
                  trigger="hover"
                  colors="outline:#121331,primary:#646e78"
                  style="width:60px;height:60px">
                </lord-icon>
              </div>
              <!--Configuración adicional-->
              <p style="color: #21618C; text-align: center;"><strong>Información del pedido</strong></p>
              <hr>
              <div class="row mb-4">                            
                <div class="col">
                  <div class="form-outline">
                    <label class="form-label"><strong><i class="bi bi-calendar"></i> Fecha del Pedido: </strong>[[${compra.fechaCompra}]]</label> 
                    
                  </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <label class="form-label"><strong><i class="bi bi-person-video3"></i> Realizado por: </strong>[[${compra.usuario.username}]]</label> 
                    
                  </div>
                </div> 
              </div>
              
              <div class="row mb-4">                            
                <div class="col">
                  <div class="form-outline">
                    <label class="form-label"><strong><i class="bi bi-person"></i> Proveedor: </strong>[[${compra.proveedor.nombre}]]</label> 
                  </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <label class="form-label"><strong><i class="bi bi-cart4"></i> Cantidad Solicitada: </strong>[[${compra.fechaCompra}]]</label> 
                    
                  </div>
                </div>
              </div>
              
              <div class="row mb-4">                            
                <div class="col">
                  <div class="form-outline">
                    <label class="form-label"><strong><i class="bi bi-piggy-bank"></i> Monto del Pedido: </strong>[[${compra.montoCompra} + ' Gs.']]</label> 
                    
                  </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <label class="form-label"><strong><i class="bi bi-exclamation-octagon"></i> Estado Actual del Pedido: </strong>[[${compra.estado}]]</label> 
                    
                  </div>
                </div>
              </div>
              
              
              
              <hr>
              <div class="row d-flex justify-content-center align-items-center">
                <div class="col-sm-4">
                  <div class="row">
                    <div class="col">
                      <a href="javascript:void(0);" class="btn btn-secondary w-100" onclick="confirmarRegreso()">
                        Atrás
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="row">
                    <div class="col">
                      <button class="btn btn-info text-white" onclick="guardarEstado()">
                        <i class="bi bi-save2" id="download-button"> Guardar Actualización</i>
                      </button>
                      
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
            
          </div><!--termina card-->
        </div>
        
        
      </fieldset>
      <div>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>   
        <script th:src="@{/js/validarEstadosPedidos.js}"></script> 
        <script th:src="@{/js/factura.js}"></script>
        <script th:inline="javascript">
          let doc, tipo, monto;
          const ID_PEDIDO = /*[[${id_compra}]]*/ null;
          const ESTADO_ACTUAL = /*[[${compra.estado}]]*/ null;
          const LISTA_DOCS = /*[[${compra.facturas}]]*/ null;

          LISTA_DOCS.forEach((elemento,i)=>{
              if(elemento.tipo === "REMISION"){
                LISTA_REMISIONES = [ ...LISTA_REMISIONES ,{"id":elemento.idFactura,"nroRemision":elemento.nroDocumento,"tipoDocumento":"REMISION","fecha":elemento.fecha} ]
              }else{
                LISTA_FACTURAS = [ ...LISTA_FACTURAS ,{"id":elemento.idFactura,"nroFactura":elemento.nroDocumento,"tipoDocumento":"FACTURA","fecha":elemento.fecha} ]
              }
          });
          actualizarTablaRemisiones(LISTA_REMISIONES);
          actualizarTablaFacturas(LISTA_FACTURAS);

          

        </script>
      </div>
      
    </div>
    
  </body>
  </html>