<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/basic}">
<body>
<div layout:fragment="content">
  <h1 class="text-center mb-6" style="font-family:Trebuchet MS" ><b style= "color:#21618C">Gesionar Pedido</b></h1> <!--titulo-->

  <form method="POST" th:action="@{/gestionarFacturas/{id}(id=${listCr.idCompra})}" th:object="${listCr}">
    <!--th:block th:include="fragment/error-message.html"></th:block-->

    <fieldset>
      <legend>Información del Pedido</legend>
      <div class="mb-3"> <!-- margen button -->
        <label class="form-label">Id Producto: [[${listCr.idProducto}]]</label>
      </div>
      <div class="mb-3"> <!-- margen button -->
        <label class="form-label">Nombre de Producto: [[${listCr.nombreProducto}]]</label>
        <input type="hidden" name="nombreProducto" th:value="${listCr.nombreProducto}" />
      </div>
      <div class="mb-3"> <!-- margen button -->
        <label for="inputCantidad" class="form-label">Cantidad</label>
        <input type="text" class="form-control" id="inputCantidad" name="cantidad" th:value="${listCr.cantidad}">
      </div>
      <div class="mb-3"> <!-- margen button -->
        <label for="inputPrecio" class="form-label">Precio</label>
        <input type="text" class="form-control" id="inputPrecio" name="precio" placeholder="Introduzca nuevo precio">
      </div>

      <div class="mb-3"> <!-- margen button -->
        <label for="inputPrecio" class="form-label">Fecha de Ingreso</label>
        <input type="date" id="inputFecha" name="fecha" class="form-control"placeholder="Introduzca nueva fecha">
      </div>

    </fieldset>

    <div class="row">
      <div class="col-sm-6">
        <a th:href="@{/productos}" class="btn btn-outline-secondary w-100">
          Atrás
        </a>
      </div>
      <div class="col-sm-6">
        <button type="submit" class="btn btn-warning w-100">Modificar Producto</button>
      </div>
    </div>
  </form>
</div>

</body>
</html>