<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/basic}">
<body>
<div layout:fragment="content">
  <h1 class="text-center mb-6" style="font-family:Trebuchet MS" ><b style= "color:#21618C">Editar Producto</b></h1> <!--titulo-->

  <form method="POST" th:action="@{/productos/{id}(id=${product.idProducto})}" th:object="${producto}">
    <!--th:block th:include="fragment/error-message.html"></th:block-->

    <fieldset>
      <legend>Información del Producto</legend>
      <div class="mb-3"> <!-- margen button -->
        <label class="form-label">Id Producto: [[${product.idProducto}]]</label>
      </div>
      <div class="mb-3"> <!-- margen button -->
        <label class="form-label">Codigo del Producto: [[${product.codigo}]]</label>
      </div>
      <!--Aca los que van a ser hidden-->
      <div class="mb-3"> <!-- margen button -->
        <label for="inputNombreProducto" class="form-label">Nombre de Producto</label>
        <input type="text" class="form-control" id="inputNombreProducto" name="nombreProducto" th:value="${product.nombreProducto}" />
      </div>
      <div class="mb-3"> <!-- margen button -->
        <label for="inputDescripcion" class="form-label">Descripcion</label>
        <input type="text" class="form-control" id="inputDescripcion" name="descripcion" th:value="${product.descripcion}" />
      </div>
      <div class="mb-3"> <!-- margen button -->
        <label for="inputCantidad" class="form-label">Cantidad</label>
        <input type="text" class="form-control" id="inputCantidad" name="cantidad" th:value="${product.cantidad}">
      </div>
      <div class="mb-3"> <!-- margen button -->
        <label for="inputPrecio" class="form-label">Precio</label>
        <input type="text" class="form-control" id="inputPrecio" name="precio" placeholder="Introduzca nuevo precio">
      </div>
      <div>
        <input type="hidden" name="unidadMedida" th:value="${product.unidadMedida}" />
        <input type="hidden" name="impuesto" th:value="${product.impuesto}" />
        <input type="hidden" name="proveedor" th:value="${product.proveedor}" />
        <!--input type="hidden" name="idTipoProducto" th:value="${product.idTipoProducto}" />
        <input type="hidden" name="idMarca" th:value="${product.idMarca}" />
        <input type="hidden" name="idUnidadMedida" th:value="${product.idUnidadMedida}" />
        <input type="hidden" name="idProveedor" th:value="${product.idProveedor}" /-->
      </div>
      <!--div class="mb-3">
        <label for="inputPrecio" class="form-label">Fecha de Ingreso</label>
        <input type="date" id="inputFecha" name="fecha" class="form-control"placeholder="Introduzca nueva fecha">
      </div-->

    </fieldset>

    <div class="row">
      <div class="col-sm-6">
        <a th:href="@{/productos}" class="btn btn-outline-secondary w-100">
          Atrás
        </a>
      </div>
      <div class="col-sm-6">
        <button type="submit" class="btn btn-warning w-100">Modificar Producto</button>
      </div>
    </div>
  </form>
</div>

</body>
</html>