<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/basic}">
<body>
    <div layout:fragment="content">
        <!--logo personita-->
        <div>
            <img th:src="@{/img/productosCrud.png}" class="center wp-image-4532"/> <!--div center img-->
        </div>
        <br> 
        <h1 class="text-center mb-6" style="font-family:Trebuchet MS" ><b style= "color:#21618C">Producto</b></h1> <!--titulo-->
        <form method="post" th:action="@{/productos/crear}" th:object="${producto}">
            <fieldset>
                <br> <!--separador-->
                <div class="container">
                    <!--Nombre de Producto-->
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <label for="inputNombreProducto" class="form-label">Nombre de Producto</label>
                                <input type="text" class="form-control" id="inputNombreProducto" name="nombreProducto" placeholder="Introduzca nombre del producto" autofocus>
                            </div>
                        </div>
                        <!-- Fecha en el que se ingresó el producto-->
                        <div class="col">
                            <div class="form-outline">
                                <label for="inputProducto" class="form-label">Fecha de Ingreso:</label>
                                <input type="date" id="inputFecha" name="fecha" class="form-control">
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">        
                        <div class="col">
                            <div class="form-outline">
                                <label for="inputFamiliaProducto" class="form-label">Familia Producto</label>
                                <input type="text" class="form-control" id="inputFamiliaProducto" name="familiaProducto" placeholder="Introduzca familia producto" autofocus>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <label for="inputTipoProducto" class="form-label">Tipo Producto</label>
                                <input type="text" class="form-control" id="inputTipoProducto" name="tipoProducto" placeholder="Introduzca tipo Producto" autofocus>
                            </div>
                        </div>
                    </div>

                    <!--código del producto-->
                    <div class="row mb-4">    
                        <div class="col">
                            <div class="form-outline">
                                <label for="inputCodigo" class="form-label">Código</label>
                                <input type="text" class="form-control" id="inputCodigo" name="codigo" placeholder="Introduzca codigo" autofocus>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <label for="inputUnidadMedida" class="form-label">Unidad Medida</label>
                                <input type="text" class="form-control" id="inputUnidadMedida" name="unidadMedida" placeholder="Introduzca unidad Medida" autofocus>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">    
                        <div class="col">
                            <div class="form-outline">
                                <label for="inputColor" class="form-label">Color</label>
                                <input type="text" class="form-control" id="inputColor" name="color" placeholder="Introduzca color" autofocus>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <label for="inputProcedencia" class="form-label">Procedencia</label>
                                <input type="text" class="form-control" id="inputProcedencia" name="procedencia" placeholder="Introduzca procedencia" autofocus>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">    
                        <div class="col">
                            <div class="form-outline">
                                <label for="inputColor" class="form-label">Marca</label>
                                <input list="browserdata" class="form-control" id="inputColor" name="color" placeholder="Introduzca marca" autofocus>
                                <datalist id="browserdata">
                                    <option>Marca 1</option>
                                    <option>Marca 2</option>
                                    <option>Marca 3</option>
                                </datalist>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <label for="inputColor" class="form-label">Proveedor</label>
                                <input list="browserdata2" class="form-control" id="inputColor" name="color" placeholder="Introduzca marca" autofocus>
                                <datalist id="browserdata2">
                                    <option>Proveedor 1</option>
                                    <option>Proveedor 2</option>
                                    <option>Proveedor 3</option>
                                </datalist>
                            </div>
                            <!-- trabaje pues >:v :'/ me voy :( -->
                        </div>
                    </div>
                                        
                    <div class="row">
                      <div class="col-sm-2">
                        <!--a href="javascript:history.back()" class="btn btn-outline-info w-100"-->
                            <a th:href="@{/productos}" class="btn btn-outline-info w-100">

                                Atrás
                            </a>
                        </div>
                        <div class="col-sm-8"></div>
                        <!--div class="col-sm-2">
                          <a th:href="@{/crudProducto}" class="btn btn-success w-100">
                              Guardar Producto
                          </a>
                        </div-->
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-success w-100">Guardar Producto</button>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    
    
</form>


</div>

</body>
</html>