<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{/layout/basic}">
<body>
  <div layout:fragment="content">
    <h1 class="text-center mb-6" style="font-family:Trebuchet MS" ><b style= "color:#21618C">Editar Tipo de Documento</b></h1> <!--titulo-->
    
    <form method="POST" th:action="@{/tipoDocumentos/{id}(id=${tipoDocumento.idTipoDocumento})}" th:object="${tipoDocumento}">
      <!--th:block th:include="fragment/error-message.html"></th:block-->
      
      <fieldset>
        <legend>Información</legend>
        <div class="mb-3"> <!-- margen button -->          
          <input type="hidden" name="tipoDocumento" th:value="${tipoDocumento.nombre}" />
          <input type="hidden" name="ruc" th:value="${tipoDocumento.descripcion}" />
        </div>
        <div class="mb-3"> <!-- margen button -->
          <label for="inputTelefono" class="form-label">Tipo de Documento</label>
          <input type="text" class="form-control" id="inputNombre" name="nombre" th:value="${tipoDocumento.nombre}">
        </div>
        <div class="mb-3"> <!-- margen button -->
          <label for="inputDescripcion" class="form-label">Descripción</label>
          <input type="text" class="form-control" id="inputDescripcion" name="descripcion" th:value="${tipoDocumento.descripcion}">
        </div>
        
      </fieldset>
      
      <div class="row">
        <div class="col-sm-6">
          <a th:href="@{/tipoDocumentos}" class="btn btn-outline-secondary w-100">
            Atrás
          </a>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-warning w-100">Modificar</button>
        </div>
      </div>
    </form>
  </div>
  
</body>
</html>