<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/basic}">
<body>
    <div layout:fragment="content">
        <!--logo personita-->
        <div>
            <img th:src="@{/img/tipoDoc.png}" class="center wp-image-4532"/> <!--div center img-->
        </div>
        <br> 
        <h1 class="text-center mb-6" style="font-family:Trebuchet MS"><b style= "color:#21618C">Tipo de documentos</b></h1> <!--titulo-->
        <form method="post" th:action="@{/tipoDocumentos/crear}" th:object="${tipoDocumento}">
            <fieldset>
                <br> <!--separador-->

                    <br>
                    <!--Tipo de Documento de Cliente-->
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <label for="inputNombre" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="inputNombre" name="nombre" placeholder="Introduzca el nombre para el tipo de documento seleccionado" autofocus>
                            </div>
                        </div>                    
                    </div>
                    <div class="row mb-4">
                        
                        <div class="col">
                            <div class="form-outline">
                                <label for="inputDescripcion" class="form-label">Descripción</label>
                                <input type="text" class="form-control" id="inputDescripcion" name="descripcion" placeholder="Introduzca descripción para el tipo de documento seleccionado" autofocus>
                            </div>
                        </div>
                                                
                    </div>
                                        
                    <div class="row">
                        <div class="col-sm-2">
                            <a href="javascript:history.back()" class="btn btn-outline-info w-100">
                                Atrás
                            </a>
                        </div>
                        <div class="col-sm-8"></div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-success w-100">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    
    
</form>


</div>

</body>
</html>