<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/basic}">
<script src="scriptFecha.js"></script>
<body>
    <div layout:fragment="content">
        
        <h1 class="text-left mb-4" style="font-family:Trebuchet MS"><b style= "color:#21618C"><lord-icon
            src="https://cdn.lordicon.com/ptzvfshs.json"
            trigger="hover"
            colors="outline:#121331,primary:#f28ba8,secondary:#ffc738"
            style="width:75px;height:75px">
        </lord-icon> Abrir Caja</b></h1> <!--titulo-->
        <form method="post" th:action="@{/aperturaCaja/abrir}" th:object="${caja}">
            <fieldset>
                <div class="container">
                    <div class="row">
                        <div class="col"> 
                            <i class="bi bi-clock"> Hora : <span id="clock"></span></i>
                        </div>                    
                    
                        <div class="col">
                        <i class="bi bi-calendar-check-fill"> Fecha : <span id="date"></span></i>
                        
                       </div>                   
                    
                            <div class="col">    
                                <i class="bi bi-person-video3"> User Cajero : <span th:text=${usuario}></span></i>
                                
                            </div>
                    </div>        
                  </div>
                <br> <!--separador-->
                <div class="container">
                    <div class="row">
                        <div class="col" >                            
                            <div class="container">
                                
                                <div class="row mb-4">                            
                                    <div class="col">
                                        <div class="form-outline">
                                            <label for="caja" class="form-label">Caja<span style="color:red">*</span></label>
                                            <!-- <input type="text" class="form-control" id="inputRuc" name="ruc" placeholder="Seleccione la caja deseada" required> -->
                                            <input type="number" style="display:none"  id="idCaja" name="idCaja" />
                                            <div class="input-group mb-3">
                                                <input type="text" name="dscCaja" class="form-control" placeholder="Buscar caja..." aria-label="Recipient's username" aria-describedby="button-addon2" id="buscadorCaja" onkeyup="funcionFiltrarCaja(this.value)" onblur="mostrarBuscadorCaja(false)" onfocus="funcionFiltrarCaja(this.value)" autocomplete="off"/>
                                                <!--a th:href="@{/clientes/nuevo}" >
                                                <button class="btn btn-primary" type="button" id="button-addon2" ><i class=""></i> Nuevo</button>
                                                </!a-->
                                                <button type="button" class="btn btn-danger" onclick="document.getElementById('buscadorCaja').value=''" onmousedown="document.getElementById('InputCaja').value=''">
                                                  <i class="bi bi-trash3-fill"></i>
                                                </button>                                          
                                            </div>
                                            <ul class="list-group" style="position:absolute;z-index:20"  >                      
                                                <button type="button" class="list-group-item opcionesCaja" onmousedown="seleccionarCaja(this)"></button>
                                                <button type="button" class="list-group-item opcionesCaja" onmousedown="seleccionarCaja(this)"></button>
                                                <button type="button" class="list-group-item opcionesCaja" onmousedown="seleccionarCaja(this)"></button>
                                                <button type="button" class="list-group-item opcionesCaja" onmousedown="seleccionarCaja(this)"></button>
                                                <button type="button" class="list-group-item opcionesCaja" onmousedown="seleccionarCaja(this)"></button>
                                                <button type="button" class="list-group-item opcionesCaja" onmousedown="seleccionarCaja(this)"></button>
                                                <button type="button" class="list-group-item opcionesCaja" onmousedown="seleccionarCaja(this)"></button>
                                                <button type="button" class="list-group-item opcionesCaja" onmousedown="seleccionarCaja(this)"></button>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                    
                                </div>
                                <!--Efectivo inicial para apertura de caja-->
                                <div class="row mb-4">                            
                                    <div class="col">
                                        <div class="form-outline">
                                            <label for="saldoApertura" class="form-label">Saldo de apertura</label>
                                            <input type="text" class="form-control" id="saldoApertura" name="saldoApertura" placeholder="Introduzca efectivo inicial para la apertura" autofocus>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="row mb-4">
                                    <div class="col-sm-6">
                                        <!--a th:href="@{http://localhost:8080/}" class="btn btn-outline-info w-100">
                                            Atrás
                                        </a-->
                                        <a href="javascript:void(0);" class="btn btn-secondary w-100" onclick="confirmarRegresoCaja()">
                                            Atrás
                                        </a>
                                    </div>
                                    <div class="col-sm-6">
                                        <button type="submit" class="btn btn-success w-100">Abrir Caja</button>
                                    </div>
                                </div>
                            </div>
                        </div>    
                        <div class="col"> 
                            <!-- <div th:if="${permisoCrear eq true}" th:text="${permisosActual}">
                                test
                            </div> -->
                            <button type="button" th:if="${permisoCrear eq true}" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal" >
                                <i class="bi bi-piggy-bank-fill"> Nueva caja</i>
                            </button>                   
                            <br>
                            <br>
                            <legend style="color:#21618C">Lista de cajas</legend>
                            
                            <div th:if="${permisoVer eq true}" class="table-responsive">
                                <table id="myTable" class="table table-sm table-bordered table-hover">
                                    <thead style="background-color: #0a4275;">
                                        <tr class="text-center">
                                            <th>Caja</th><!---->
                                            <th>Estado</th><!---->
                                            <th>Acción</th><!---->                                        
                                        </tr><!---->
                                    </thead><!---->
                                    <tbody><!---->
                                        <tr th:if="${#lists.isEmpty(listCaja)}"><!---->                                            
                                            <td class="text-center fw-bold" ></td><!---->
                                            <td class="text-center fw-bold" >No se encontraron cajas</td><!---->
                                            <td class="text-center fw-bold" ></td><!---->                                     
                                            
                                        </tr><!---->
                                        <tr class="text-center" th:each="caja: ${listCaja}">
                                            <td th:text="${caja.descripcion}">Cod</td>
                                            <td th:text="${caja.estado}">Name</td>                                                                                  
                                            <td><!---->
                                                <div class="btn-group"><!---->
                                                  <a th:if="${permisoActualizar eq true}" th:href="@{/aperturaCaja/{id}(id=${caja.idCaja})}" 
                                                     class="btn btn-sm btn-outline-primary"><!---->
                                                    <i class="fa-solid fa-pen-to-square"></i><!---->
                                                  </a>
                                                  <a th:if="${permisoEliminar eq true}" th:href="@{/aperturaCaja/{id}/delete(id=${caja.idCaja})}">
                                                    <button type="button" id="btnEliminar" class="btn btn-sm btn-outline-danger">
                                                      <i class="fa-sharp fa-solid fa-trash"></i>
                                                    </button>
                                                  </a>
                                                </div>
                                              </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div> <!--termina la tabla-->
                        </div>
                    </div>    
                </div>
            </fieldset>
        </form>
        <!-- MODAL PARA CRUD DE CAJA -->
      <!-- Modal: myModal | Creación de caja -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
          <div class="modal-content">                                   
            <!--Header-->                    
            <div class="modal-header"> 
              <h5 class="modal-title">Nueva Caja</h5> <!-- Por que si-->
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">x</button>
            </div>
            <!-- Body para modal-->
            <div class="modal-body">
              <!-- Tabs navs para modal-->
              <iframe th:src="@{/aperturaCaja/nuevo}" width="100%" height="400"></iframe>
              <!-- Pie del modal -->
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="window.location.reload()">Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>  
        <script th:src="@{/js/scriptFecha.js}" type="text/javascript"></script>
        <script th:src="@{/js/scriptHora.js}" type="text/javascript"></script>        
        <script type="text/javascript" th:inline="javascript">
            let datosCaja = /*[[${listCaja}]]*/ null;
            let msg = /*[[${msgCaja}]]*/ null;
            if(msg != null){
                Swal.fire({
                    title: msg
                });
                //alert(msg)
            }
          </script>
        <script th:src="@{/js/buscadorCaja.js}" type="text/javascript"></script>
        <script th:src="@{/js/confirmarRegreso.js}" type="text/javascript"></script>

      </div>
    </div>      
      
</body>
</html>