<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/basic}">
<body>
    <div layout:fragment="content">
        <!--logo personita-->
        <div>
            <img th:src="@{/img/cajero-automatico.png}" class="center wp-image-4532"/> <!--div center img-->
        </div>
        <br> 
        <h1 class="text-center mb-6" style="font-family:Trebuchet MS" ><b style= "color:#21618C">Registro de nueva caja</b></h1> <!--titulo-->
        <form method="post" th:action="@{/aperturaCaja/crear}" th:object="${caja}">
            <fieldset>                
                <br> <!--separador-->
                <div class="container">
                    <!--Descripción de la caja-->
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <label for="descripcion" class="form-label">Descripción<span style="color:red">*</span></label>
                                <input type="text" class="form-control" id="descripcion" name="name" placeholder="Introduzca Descripción" autofocus required>
                            </div>
                        </div>
                        <!-- Form para password-->
                        <div class="col">
                            <div class="form-outline">
                                <label for="password" class="form-label">Contraseña<span style="color:red">*</span></label>
                                <input type="password" class="form-control" id="password" name="pinCaja" placeholder="Introduzca Contraseña" autofocus required>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <label for="inputEsActual" class="form-label">Estado de la caja<span style="color:red">*</span></label>
                                <!--TEMPORAL PARA TUTORÍA-->
                                <select class="form-select" aria-label="Default select example" name="esActual" required>
                                    <option selected>Seleccione estado</option>
                                    <option value="1">Activo</option>
                                    <option value="2">Inactivo</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="row">                    
                           
                         
                        
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-success w-100">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    
    
</form>


</div>

</body>
</html>