<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/basic}">
<body>
  <div layout:fragment="content">
    <!--logo personita-->
    <div>
      <img th:src="@{/img/realizarVenta.png}" class="center wp-image-4532"/> <!--div center img-->
    </div>
    <br> 
    <h1 class="text-center mb-6" style="font-family: Garamond, serif;" ><b style= "color:#21618C">Realizar Venta</b></h1> <!--titulo-->
    <!-- Tabs navs -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#tabCliente" type="button" role="tab" aria-controls="tabCliente" aria-selected="true"><i class="fas fa-user fa-fw me-2"></i>Cliente</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#tabProducto" type="button" role="tab" aria-controls="tabProducto" aria-selected="false"><i class="fas fa-shopping-cart fa-fw me-2"></i>Producto</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#tabPago" type="button" role="tab" aria-controls="tabPago" aria-selected="false"><i class="fas fa-credit-card fa-fw me-2"></i>Método de Pago</button>
      </li>
    </ul>
    <br>
    <!-- Tabs content cliente -->
    <div class="tab-content" id="ex-with-icons-content">
      <div class="tab-pane fade show active" id="tabCliente" role="tabpanel" aria-labelledby="tabCliente">
        <legend style="color:#21618C">Cliente</legend>
        <div class="container">
          <div class="row">
            <div class="col-4">
              <!--TEMPORAL PARA TUTORÍA-->
              <div class="form-group">                
                <input class="form-control" list="options" id="exampleInput" placeholder="Seleccionar cliente">
                <datalist id="options">
                  <option value="GiaNNina">
                    <option value="Option 2">
                      <option value="Option 3">
                      </datalist>
                    </div>
                    
                    <!--ESTO DEBE IR CON RESPECTO A LA BASE DE DATOS CLIENTES-->
                    <!--select class="form-select" aria-label="Default select example" id="inputGroupSelect01" name="idCliente">
                      <option th:each="elemento : ${clientes}" th:value="${elemento.idCliente}" th:text="${elemento.toString()}"></option>
                    </select-->
                  </div>
                  <!--botón de registro-->
                  <div class="col-4">
                    <th:block th:if="${permisoCrear eq true}"><!--esto es de permisos user - modificar a uno para registrar clientes-->
                    <a th:href="@{/registrarCliente}" class="btn btn-success mb-4">
                      <i class="fa-solid fa-user-plus"></i> Registrar Cliente
                    </a>
                  </th:block> <!--modificar front-->
                </div>
              </div>
            </div>
            
          </div>
          <!--contenido de Producto-->
          <div class="tab-pane fade" id="tabProducto" role="tabpanel" aria-labelledby="tabProducto">
            <legend style="color:#21618C">Producto</legend>
            <!--Form para seleccionar el producto-->
            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <label for="inputUsuario" class="form-label">Producto</label>
                  <!--select de los productos existentes en la base de datos-->
                  <!--select class="form-select" aria-label="Default select example" id="inputGroupSelect01" name="idProducto">
                    <option th:each="elemento : ${productos}" th:value="${elemento.idProducto}" th:text="${elemento.toString()}"></option>
                  </select-->
                  <!--esto debe cambiarse a lo de arriba cuando exista la BD-->
                  <!--select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                    <option value="1">Espejos retrovisores</option>
                    <option value="2">Manecillas</option>
                    <option value="3">Capots</option>
                  </select-->
                  
                  <!--para poder desplegar pantalla flotante-->
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Seleccionar producto" aria-label="Seleccionar producto" aria-describedby="button-addon2">
                    <!-- Button trigger modal-->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCart" >-</button>
                    
                    <!-- Modal: modalCart -->
                    <div class="modal fade" id="modalCart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
                      <div class="modal-content">
                        <!--Header-->
                        <div class="modal-header">
                          <h4 class="modal-title" id="myModalLabel">Lista de Productos/Servicios</h4>
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">x</button>
                        </div>
                        <!-- Tabs navs para modal-->
                        
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                          <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#tabProductoModal" type="button" role="tab" aria-controls="tabProductoModal" aria-selected="true"><i class="fas fa-cart-arrow-down me-2"></i>Productos</button>
                          </li>
                          <!--servicios -->
                          <li class="nav-item" role="presentation">
                            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#tabServicioModal" type="button" role="tab" aria-controls="tabServicioModal" aria-selected="false"><i class="	fas fa-shuttle-van me-2"></i>Servicios</button>
                          </li>
                          
                        </ul>
                        
                        <!--Body-->
                        <!--agg contenido para el navs-->
                        
                        <div class="modal-body">
                          <!--body de productos-->
                          <div class="tab-pane fade" id="tabProductoModal" role="tabpanel" aria-labelledby="tabProductoModal">
                          <div th:if="${permisoVer eq true}" class="table-responsive table-scroll">
                            <table class="table table-striped mb-0" ><!---->
                              <thead style="background-color: #0a4275;"><!---->
                                <tr class="text-center"><!---->
                                  <th>Producto</th><!---->
                                  <th>Precio</th><!---->
                                  <th>Acción</th><!---->
                                </tr><!---->
                              </thead><!---->
                              <tbody><!---->
                                <tr th:if="${#lists.isEmpty(listServicios)}"><!---->
                                  <td class="text-center fw-bold" colspan="10">No se encontraron resultados</td><!---->
                                </tr><!---->
                                <tr class="text-center" th:each="user: ${listServicios}">
                                  <td th:text="${user.service}">Servicio</td>
                                  <td th:text="${user.precio}">Precio</td><!---->
                                  <td><!---->
                                    <div class="btn-group"><!---->
                                      <a th:if="${permisoActualizar eq true}" th:href="@{/usuarios/{id}(id=${user.idUsuario})}" 
                                      class="btn btn-sm btn-outline-primary"><!---->
                                      <i class="fa-solid fa-pen-to-square"></i><!---->
                                    </a>
                                    <a th:if="${permisoEliminar eq true}" th:href="@{/usuarios/{id}/delete(id=${user.idUsuario})}">
                                      <button type="button" id="btnEliminar" class="btn btn-sm btn-outline-danger">
                                        <i class="fa-sharp fa-solid fa-trash"></i>
                                      </button>
                                    </a>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <br>  
                        </div>    
                      </div>                   
                        <!--body de servicios-->
                        <div class="tab-pane fade" id="tabServicioModal" role="tabpanel" aria-labelledby="tabServicioModal">
                        <div th:if="${permisoVer eq true}" class="table-responsive table-scroll">
                          <table class="table table-striped mb-0" ><!---->
                            <thead style="background-color: #0a4275;"><!---->
                              <tr class="text-center"><!---->
                                <th>Servicio</th><!---->
                                <th>Precio</th><!---->
                                <th>Acción</th><!---->
                              </tr><!---->
                            </thead><!---->
                            <tbody><!---->
                              <tr th:if="${#lists.isEmpty(listServicios)}"><!---->
                                <td class="text-center fw-bold" colspan="10">No se encontraron resultados</td><!---->
                              </tr><!---->
                              <tr class="text-center" th:each="user: ${listServicios}">
                                <td th:text="${user.service}">Servicio</td>
                                <td th:text="${user.precio}">Precio</td><!---->
                                <td><!---->
                                  <div class="btn-group"><!---->
                                    <a th:if="${permisoActualizar eq true}" th:href="@{/usuarios/{id}(id=${user.idUsuario})}" 
                                    class="btn btn-sm btn-outline-primary"><!---->
                                    <i class="fa-solid fa-pen-to-square"></i><!---->
                                  </a>
                                  <a th:if="${permisoEliminar eq true}" th:href="@{/usuarios/{id}/delete(id=${user.idUsuario})}">
                                    <button type="button" id="btnEliminar" class="btn btn-sm btn-outline-danger">
                                      <i class="fa-sharp fa-solid fa-trash"></i>
                                    </button>
                                  </a>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <br>  
                      </div>             
                      </div>
                    </div>
                      <!--Footer-->
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary">Agregar</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Modal: modalCart -->
              </div>
              <!--modal-->
              
              
              
              
              
            </div>
          </div>
          
          <!--Cantidad de Productos-->
          <div class="col">
            <div class="form-outline">
              <label for="inputUsuario" class="form-label">Cantidad Producto</label>
              <input type="text" class="form-control" id="inputUsuario" name="user" placeholder="Introduzca la cantidad deseada" autofocus>
            </div>
          </div>
          
        </div>
        
        <!--ESTO SE DEBE MODIFICAR-->
        <table class="table table-striped mb-0" ><!---->
          <thead style="background-color: #0a4275;"><!---->
            <tr class="text-center"><!---->
              <th>Producto</th><!---->
              <th>Cantidad</th><!---->
              <th>Precio</th><!---->
              <th>Acción</th><!---->
            </tr><!---->
          </thead><!---->
          <tbody><!---->
            <tr th:if="${#lists.isEmpty(listUser)}"><!---->
              <td class="text-center fw-bold" colspan="10">No se encontraron resultados</td><!---->
            </tr><!---->
            <tr class="text-center" th:each="user: ${listUser}">
              <td th:text="${user.username}">Name</td>
              <td th:text="${user.email}">Email</td><!---->
              <td th:text="${user.rol.nombre}">Age</td>
              <td><!---->
                <div class="btn-group"><!---->
                  <a th:if="${permisoActualizar eq true}" th:href="@{/usuarios/{id}(id=${user.idUsuario})}" 
                  class="btn btn-sm btn-outline-primary"><!---->
                  <i class="fa-solid fa-pen-to-square"></i><!---->
                </a>
                <a th:if="${permisoEliminar eq true}" th:href="@{/usuarios/{id}/delete(id=${user.idUsuario})}">
                  <button type="button" id="btnEliminar" class="btn btn-sm btn-outline-danger">
                    <i class="fa-sharp fa-solid fa-trash"></i>
                  </button>
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      
    </div>
    
    <!--CONTENIDO DE MÉTODO DE PAGO-->
    <div class="tab-pane fade" id="tabPago" role="tabpanel" aria-labelledby="tabPago">
      <!--opciones de los botones-->
      <div class="form-check">
        <!--opción 1-->
        <div>
          <input type="radio" id="mostrar-contenido" name="tipoPago">
          <label for="mostrar-contenido">Efectivo</label>
          <div id="contenido" style="display:none">
            Aún falta completar este apartado : D
          </div>
        </div>
        
        <!--opción 2-->
        <!--div>
          <input type="radio" id="mostrar-contenido" name="tipoPago">
          <label for="mostrar-contenido">Transferencia Bancaria</label>
          <div id="contenido" style="display:none">
            Enviar cuenta bancaria al cliente registrado (Número de teléfono)
          </div>
        </div-->
        <!--opción 3-->
        <!--div>
          <input type="radio" id="mostrar-contenido" name="tipoPago">
          <label for="mostrar-contenido">Bancard</label>
          <div id="contenido" style="display:none">
            <div>
              <img th:src="@{/img/bancard.jpg}" class="center wp-image-4532"/> 
            </div>
            
            <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
              <option value="1">Crédito</option>
              <option value="2">Débito</option>
            </select>
            
          </div>
        </div-->
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Finalizar venta
        </button>
        
        <!-- Modal para comprobante-->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Comprobante</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">        
                <div>
                  <img th:src="@{/img/comprobante.png}" class="center wp-image-4532"/> 
                  ¿Desea generar el comprobante de venta?
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Finalizar sin generar pdf</button>
                <button type="button" class="btn btn-primary">Generar PDF</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <br>
    <div class="row">
      <div class="col-sm-1">
        <a href="javascript:history.back()" class="btn btn-outline-info w-100">
          Atrás
        </a>
      </div>
    </div>
    
  </div>
  <!-- Tabs content -->
</div>

</body>
</html>
