<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{/layout/basic}">
<body>
  <div layout:fragment="content">
    <h1 class="text-center mb-6" style="font-family:Trebuchet MS" ><b style= "color:#21618C">Editar Tipo de Producto</b></h1> <!--titulo-->
    
    <form method="POST" th:action="@{/tipoProductos/{id}(id=${tipoProducto.idTipoProducto})}" th:object="${tipoProducto}">
      <!--th:block th:include="fragment/error-message.html"></th:block-->
      
      <fieldset>
        <legend>Información</legend>        
        <div class="mb-3"> <!-- margen button -->
          <label for="inputDescripcion" class="form-label">Descripción</label>
          <input type="text" class="form-control" id="inputDescripcion" name="descripcion" th:value="${tipoProducto.descripcion}">
        </div>
        <div class="col">
          <div class="form-outline">
              <label for="inputGanancia" class="form-label">Porcentaje de ganancia</label>
              <input type="text" class="form-control" id="inputGanancia" name="cantidad" placeholder="Introduzca Ganancia" autofocus>
          </div>
      </div>
      </fieldset>
      <br>
      <div class="row">
        <div class="col-sm-6">
          <a th:href="@{/tipoProductos}" class="btn btn-outline-secondary w-100">
            Atrás
          </a>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-warning w-100">Modificar</button>
        </div>
      </div>
    </form>
  </div>
  
</body>
</html>