<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/basic}">
<body>
    <div layout:fragment="content">
        <!--logo personita-->
        <div>
            <img th:src="@{/img/TipoProd.png}" class="center wp-image-4532"/> <!--div center img-->
        </div>
        <br> 
        <h1 class="text-center mb-6" style="font-family:Trebuchet MS"><b style= "color:#21618C">Tipo de Producto</b></h1> <!--titulo-->
        <form method="post" th:action="@{/tipoProductos/crear}" th:object="${tipoProducto}">
            <fieldset>
                <br> <!--separador-->
                <!--div class="container">
                        <div class="col">
                            <div class="form-outline">
                                <label for="codigo" class="form-label">Código</label>
                                <input type="text" class="form-control" id="codigo" name="codigo" placeholder="Introduzca código para la unidad de medida" autofocus>
                            </div>
                        </div>
                    </div-->
                    <br>
                    <!--Descripción para la unid. medida-->
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <label for="inputDescripcion" class="form-label">Descripción</label>
                                <input type="text" class="form-control" id="inputDescripcion" name="descripcion" placeholder="Introduzca Descripción" autofocus>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <label for="inputGanancia" class="form-label">Porcentaje de ganancia</label>
                                <input type="text" class="form-control" id="inputGanancia" name="cantidad" placeholder="Introduzca Ganancia" autofocus>
                            </div>
                        </div>
                                                
                    </div>
                                        
                    <div class="row">
                        <div class="col-sm-2">
                            <a href="javascript:history.back()" class="btn btn-outline-info w-100">
                                Atrás
                            </a>
                        </div>
                        <div class="col-sm-8"></div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-success w-100">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    
    
</form>


</div>

</body>
</html>